<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateDenunciasTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateDenunciasLabel_id}" for="id" />
                    <h:inputText id="id" value="#{denunciasController.selected.id}" title="#{bundle.CreateDenunciasTitle_id}" required="true" requiredMessage="#{bundle.CreateDenunciasRequiredMessage_id}"/>
                    <h:outputLabel value="#{bundle.CreateDenunciasLabel_titulo}" for="titulo" />
                    <h:inputText id="titulo" value="#{denunciasController.selected.titulo}" title="#{bundle.CreateDenunciasTitle_titulo}" required="true" requiredMessage="#{bundle.CreateDenunciasRequiredMessage_titulo}"/>
                    <h:outputLabel value="#{bundle.CreateDenunciasLabel_descricao}" for="descricao" />
                    <h:inputText id="descricao" value="#{denunciasController.selected.descricao}" title="#{bundle.CreateDenunciasTitle_descricao}" required="true" requiredMessage="#{bundle.CreateDenunciasRequiredMessage_descricao}"/>
                    <h:outputLabel value="#{bundle.CreateDenunciasLabel_dataDenuncia}" for="dataDenuncia" />
                    <h:inputText id="dataDenuncia" value="#{denunciasController.selected.dataDenuncia}" title="#{bundle.CreateDenunciasTitle_dataDenuncia}" >
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.CreateDenunciasLabel_leilao}" for="leilao" />
                    <h:selectOneMenu id="leilao" value="#{denunciasController.selected.leilao}" title="#{bundle.CreateDenunciasTitle_leilao}" required="true" requiredMessage="#{bundle.CreateDenunciasRequiredMessage_leilao}">
                        <f:selectItems value="#{leilaoController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.CreateDenunciasLabel_denunciador}" for="denunciador" />
                    <h:selectOneMenu id="denunciador" value="#{denunciasController.selected.denunciador}" title="#{bundle.CreateDenunciasTitle_denunciador}" required="true" requiredMessage="#{bundle.CreateDenunciasRequiredMessage_denunciador}">
                        <f:selectItems value="#{utilizadorController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{denunciasController.create}" value="#{bundle.CreateDenunciasSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{denunciasController.prepareList}" value="#{bundle.CreateDenunciasShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateDenunciasIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
