<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditDenunciasTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditDenunciasLabel_id}" for="id" />
                    <h:inputText id="id" value="#{denunciasController.selected.id}" title="#{bundle.EditDenunciasTitle_id}" required="true" requiredMessage="#{bundle.EditDenunciasRequiredMessage_id}"/>
                    <h:outputLabel value="#{bundle.EditDenunciasLabel_titulo}" for="titulo" />
                    <h:inputText id="titulo" value="#{denunciasController.selected.titulo}" title="#{bundle.EditDenunciasTitle_titulo}" required="true" requiredMessage="#{bundle.EditDenunciasRequiredMessage_titulo}"/>
                    <h:outputLabel value="#{bundle.EditDenunciasLabel_descricao}" for="descricao" />
                    <h:inputText id="descricao" value="#{denunciasController.selected.descricao}" title="#{bundle.EditDenunciasTitle_descricao}" required="true" requiredMessage="#{bundle.EditDenunciasRequiredMessage_descricao}"/>
                    <h:outputLabel value="#{bundle.EditDenunciasLabel_dataDenuncia}" for="dataDenuncia" />
                    <h:inputText id="dataDenuncia" value="#{denunciasController.selected.dataDenuncia}" title="#{bundle.EditDenunciasTitle_dataDenuncia}" >
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.EditDenunciasLabel_leilao}" for="leilao" />
                    <h:selectOneMenu id="leilao" value="#{denunciasController.selected.leilao}" title="#{bundle.EditDenunciasTitle_leilao}" required="true" requiredMessage="#{bundle.EditDenunciasRequiredMessage_leilao}">
                        <f:selectItems value="#{leilaoController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.EditDenunciasLabel_denunciador}" for="denunciador" />
                    <h:selectOneMenu id="denunciador" value="#{denunciasController.selected.denunciador}" title="#{bundle.EditDenunciasTitle_denunciador}" required="true" requiredMessage="#{bundle.EditDenunciasRequiredMessage_denunciador}">
                        <f:selectItems value="#{utilizadorController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{denunciasController.update}" value="#{bundle.EditDenunciasSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditDenunciasViewLink}"/>
                <br />
                <h:commandLink action="#{denunciasController.prepareList}" value="#{bundle.EditDenunciasShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditDenunciasIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
