<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListDenunciasTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListDenunciasEmpty}" rendered="#{denunciasController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{denunciasController.items.rowCount > 0}">
                    <h:outputText value="#{denunciasController.pagination.pageFirstItem + 1}..#{denunciasController.pagination.pageLastItem + 1}/#{denunciasController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{denunciasController.previous}" value="#{bundle.Previous} #{denunciasController.pagination.pageSize}" rendered="#{denunciasController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{denunciasController.next}" value="#{bundle.Next} #{denunciasController.pagination.pageSize}" rendered="#{denunciasController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{denunciasController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDenunciasTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDenunciasTitle_titulo}"/>
                            </f:facet>
                            <h:outputText value="#{item.titulo}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDenunciasTitle_descricao}"/>
                            </f:facet>
                            <h:outputText value="#{item.descricao}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDenunciasTitle_dataDenuncia}"/>
                            </f:facet>
                            <h:outputText value="#{item.dataDenuncia}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDenunciasTitle_leilao}"/>
                            </f:facet>
                            <h:outputText value="#{item.leilao}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDenunciasTitle_denunciador}"/>
                            </f:facet>
                            <h:outputText value="#{item.denunciador}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{denunciasController.prepareView}" value="#{bundle.ListDenunciasViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{denunciasController.prepareEdit}" value="#{bundle.ListDenunciasEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{denunciasController.destroy}" value="#{bundle.ListDenunciasDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{denunciasController.prepareCreate}" value="#{bundle.ListDenunciasCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListDenunciasIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
