<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewDenunciasTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewDenunciasLabel_id}"/>
                    <h:outputText value="#{denunciasController.selected.id}" title="#{bundle.ViewDenunciasTitle_id}"/>
                    <h:outputText value="#{bundle.ViewDenunciasLabel_titulo}"/>
                    <h:outputText value="#{denunciasController.selected.titulo}" title="#{bundle.ViewDenunciasTitle_titulo}"/>
                    <h:outputText value="#{bundle.ViewDenunciasLabel_descricao}"/>
                    <h:outputText value="#{denunciasController.selected.descricao}" title="#{bundle.ViewDenunciasTitle_descricao}"/>
                    <h:outputText value="#{bundle.ViewDenunciasLabel_dataDenuncia}"/>
                    <h:outputText value="#{denunciasController.selected.dataDenuncia}" title="#{bundle.ViewDenunciasTitle_dataDenuncia}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewDenunciasLabel_leilao}"/>
                    <h:outputText value="#{denunciasController.selected.leilao}" title="#{bundle.ViewDenunciasTitle_leilao}"/>
                    <h:outputText value="#{bundle.ViewDenunciasLabel_denunciador}"/>
                    <h:outputText value="#{denunciasController.selected.denunciador}" title="#{bundle.ViewDenunciasTitle_denunciador}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{denunciasController.destroyAndView}" value="#{bundle.ViewDenunciasDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewDenunciasEditLink}"/>
                <br />
                <h:commandLink action="#{denunciasController.prepareCreate}" value="#{bundle.ViewDenunciasCreateLink}" />
                <br />
                <h:commandLink action="#{denunciasController.prepareList}" value="#{bundle.ViewDenunciasShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewDenunciasIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
