<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditMensagemTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditMensagemLabel_id}" for="id" />
                    <h:inputText id="id" value="#{mensagemController.selected.id}" title="#{bundle.EditMensagemTitle_id}" required="true" requiredMessage="#{bundle.EditMensagemRequiredMessage_id}"/>
                    <h:outputLabel value="#{bundle.EditMensagemLabel_titulo}" for="titulo" />
                    <h:inputText id="titulo" value="#{mensagemController.selected.titulo}" title="#{bundle.EditMensagemTitle_titulo}" />
                    <h:outputLabel value="#{bundle.EditMensagemLabel_descricao}" for="descricao" />
                    <h:inputText id="descricao" value="#{mensagemController.selected.descricao}" title="#{bundle.EditMensagemTitle_descricao}" />
                    <h:outputLabel value="#{bundle.EditMensagemLabel_dataEnvio}" for="dataEnvio" />
                    <h:inputText id="dataEnvio" value="#{mensagemController.selected.dataEnvio}" title="#{bundle.EditMensagemTitle_dataEnvio}" >
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.EditMensagemLabel_emissor}" for="emissor" />
                    <h:selectOneMenu id="emissor" value="#{mensagemController.selected.emissor}" title="#{bundle.EditMensagemTitle_emissor}" required="true" requiredMessage="#{bundle.EditMensagemRequiredMessage_emissor}">
                        <f:selectItems value="#{utilizadorController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.EditMensagemLabel_destinatario}" for="destinatario" />
                    <h:selectOneMenu id="destinatario" value="#{mensagemController.selected.destinatario}" title="#{bundle.EditMensagemTitle_destinatario}" required="true" requiredMessage="#{bundle.EditMensagemRequiredMessage_destinatario}">
                        <f:selectItems value="#{utilizadorController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{mensagemController.update}" value="#{bundle.EditMensagemSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditMensagemViewLink}"/>
                <br />
                <h:commandLink action="#{mensagemController.prepareList}" value="#{bundle.EditMensagemShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditMensagemIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
