<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListMensagemTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListMensagemEmpty}" rendered="#{mensagemController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{mensagemController.items.rowCount > 0}">
                    <h:outputText value="#{mensagemController.pagination.pageFirstItem + 1}..#{mensagemController.pagination.pageLastItem + 1}/#{mensagemController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{mensagemController.previous}" value="#{bundle.Previous} #{mensagemController.pagination.pageSize}" rendered="#{mensagemController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{mensagemController.next}" value="#{bundle.Next} #{mensagemController.pagination.pageSize}" rendered="#{mensagemController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{mensagemController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMensagemTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMensagemTitle_titulo}"/>
                            </f:facet>
                            <h:outputText value="#{item.titulo}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMensagemTitle_descricao}"/>
                            </f:facet>
                            <h:outputText value="#{item.descricao}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMensagemTitle_dataEnvio}"/>
                            </f:facet>
                            <h:outputText value="#{item.dataEnvio}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMensagemTitle_emissor}"/>
                            </f:facet>
                            <h:outputText value="#{item.emissor}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMensagemTitle_destinatario}"/>
                            </f:facet>
                            <h:outputText value="#{item.destinatario}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{mensagemController.prepareView}" value="#{bundle.ListMensagemViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{mensagemController.prepareEdit}" value="#{bundle.ListMensagemEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{mensagemController.destroy}" value="#{bundle.ListMensagemDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{mensagemController.prepareCreate}" value="#{bundle.ListMensagemCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListMensagemIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
