<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewMensagemTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewMensagemLabel_id}"/>
                    <h:outputText value="#{mensagemController.selected.id}" title="#{bundle.ViewMensagemTitle_id}"/>
                    <h:outputText value="#{bundle.ViewMensagemLabel_titulo}"/>
                    <h:outputText value="#{mensagemController.selected.titulo}" title="#{bundle.ViewMensagemTitle_titulo}"/>
                    <h:outputText value="#{bundle.ViewMensagemLabel_descricao}"/>
                    <h:outputText value="#{mensagemController.selected.descricao}" title="#{bundle.ViewMensagemTitle_descricao}"/>
                    <h:outputText value="#{bundle.ViewMensagemLabel_dataEnvio}"/>
                    <h:outputText value="#{mensagemController.selected.dataEnvio}" title="#{bundle.ViewMensagemTitle_dataEnvio}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewMensagemLabel_emissor}"/>
                    <h:outputText value="#{mensagemController.selected.emissor}" title="#{bundle.ViewMensagemTitle_emissor}"/>
                    <h:outputText value="#{bundle.ViewMensagemLabel_destinatario}"/>
                    <h:outputText value="#{mensagemController.selected.destinatario}" title="#{bundle.ViewMensagemTitle_destinatario}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{mensagemController.destroyAndView}" value="#{bundle.ViewMensagemDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewMensagemEditLink}"/>
                <br />
                <h:commandLink action="#{mensagemController.prepareCreate}" value="#{bundle.ViewMensagemCreateLink}" />
                <br />
                <h:commandLink action="#{mensagemController.prepareList}" value="#{bundle.ViewMensagemShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewMensagemIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
