<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditCategoriaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditCategoriaLabel_id}" for="id" />
                    <h:inputText id="id" value="#{categoriaController.selected.id}" title="#{bundle.EditCategoriaTitle_id}" required="true" requiredMessage="#{bundle.EditCategoriaRequiredMessage_id}"/>
                    <h:outputLabel value="#{bundle.EditCategoriaLabel_dataCriacao}" for="dataCriacao" />
                    <h:inputText id="dataCriacao" value="#{categoriaController.selected.dataCriacao}" title="#{bundle.EditCategoriaTitle_dataCriacao}" >
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                </h:panelGrid>
                <h:commandLink action="#{categoriaController.update}" value="#{bundle.EditCategoriaSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditCategoriaViewLink}"/>
                <br />
                <h:commandLink action="#{categoriaController.prepareList}" value="#{bundle.EditCategoriaShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditCategoriaIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
