<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
     xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
      
    <ui:composition template="HomeUser.xhtml">
           <ui:define name="HeaderUser">
                <f:event type="preRenderView" listener="#{login.isLogado()}"/>
                <f:event type="preRenderView" listener="#{login.checkUserPagePermission()}"/>
           
   <ul class="nav navbar-nav">
                #{leilaoController.clearLastLeilao()}
                    <li><a href="HomeUser.xhtml">PERFIL</a>
                    <ul class="submenu">
                         <li class="submenu-item"><a href="VerContaUSer.xhtml">VER PERFIL</a></li>
                         <li class="submenu-item"><a href="EditaPerfil_User.xhtml">EDITAR PERFIL</a></li>
                      </ul>
                    </li>
                    <li><a  href="DesativarConta.xhtml" class="has-child">DEFINIÇÕES DE CONTA</a>
                     <ul class="submenu">
                     
                         <li class="submenu-item"><a href="DesativarConta.xhtml">INATIVAR CONTA</a></li>
                      </ul>
                    </li>
                    <li  class="is-active has-child"><a href="LeiloesEmCurso.xhtml">LEILÕES</a>
                      <ul class="submenu">
                         <li class="submenu-item"><a href="LeiloesEmCurso.xhtml">A DECORRER</a></li>                      
                         <li class="submenu-item"><a href="PesquisaLeiloes.xhtml">PESQUISAR</a></li>
                         <li class="submenu-item"><a href="LicitacoesLeilao.xhtml">MINHAS OFERTAS</a></li>
                         <li class="submenu-item"><a href="MeusLeiloes.xhtml">MEUS LEILÕES</a></li>
                      </ul>
                    </li>
                    <li><a href="Mensagens.xhtml">MENSAGENS</a></li>
                    <li><a href="../Administrator/logout.xhtml">LOGOUT</a></li>
      </ul>
    </ui:define>
        
    <ui:define name="BaseUser">
            <h:form class="well form-horizontal col-md-offset-2 col-md-8" id="contact_form" style="text-align:center;">
                <h3>Criar Leilão</h3>
                <table class="col-md-12 center">
                    <tbody>
                        <tr>
                            <td><h:outputLabel value="Nome:" for="nomeProduto" /></td>
                            <td><h:inputText id="nomeProduto" value="#{leilaoController.selected.nomeProduto}" title="#{bundle.CreateLeilaoTitle_nomeProduto}" required="true" requiredMessage="#{bundle.CreateLeilaoRequiredMessage_nomeProduto}"/></td>
                        </tr>
                        <tr>
                            <td><h:outputLabel value="Descrição:" for="descricaoProduto" /></td>
                            <td><h:inputTextarea id="descricaoProduto" value="#{leilaoController.selected.descricaoProduto}" title="#{bundle.CreateLeilaoTitle_descricaoProduto}" required="true" requiredMessage="#{bundle.CreateLeilaoRequiredMessage_descricaoProduto}"/></td>
                        </tr>
                        <tr>
                            <td><h:outputLabel value="Data de fim de leilão (dd/MM/yyyy HH:mm:ss):" for="dataFim" /></td>
                            <td><h:inputText id="dataFim" value="#{leilaoController.selected.dataFim}" title="#{bundle.CreateLeilaoTitle_dataFim}" >
                                <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" />
                            </h:inputText></td>
                        </tr>
                        <tr>
                            <td><h:outputLabel value="Valor Minimo:" for="valorMinimo" /></td>
                            <td><h:inputText id="valorMinimo" value="#{leilaoController.selected.valorMinimo}" title="#{bundle.CreateLeilaoTitle_valorMinimo}" /></td>
                        </tr>
                    </tbody>
                </table>
                <br />
                <h:commandLink action="#{leilaoController.create}" value="#{bundle.CreateLeilaoSaveLink}" class="btn btn-default" />
                <br />
                
            </h:form>
            
    </ui:define>  
    
    
    
    </ui:composition>
</html>


