<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <ui:composition template="HomeUser.xhtml">
      <ui:define name="HeaderUser">
           <f:event type="preRenderView" listener="#{login.isLogado()}"/>
           <f:event type="preRenderView" listener="#{login.checkUserPagePermission()}"/>
   
   <ul class="nav navbar-nav">

                    <li><a href="HomeUser.xhtml">PERFIL</a>
                    <ul class="submenu">
                         <li class="submenu-item"><a href="HomeUser.xhtml">VER PERFIL</a></li>
                         <li class="submenu-item"><a href="EditaPerfil_User.xhtml">EDITAR PERFIL</a></li>
                      </ul>
                    </li>
                    <li><a  href="DesativarConta.xhtml" class="has-child is-active">DEFINIÇÕES DE CONTA</a>
                     <ul class="submenu">
                       
                         <li class="submenu-item"><a href="DesativarConta.xhtml">INATIVAR CONTA</a></li>
                      </ul>
                    </li>
                    <li  class="is-active has-child"><a href="LeiloesEmCurso.xhtml">LEILÕES</a>
                      <ul class="submenu">
                         <li class="submenu-item"><a href="LeiloesEmCurso.xhtml">A DECORRER</a></li>                        
                         <li class="submenu-item"><a href="PesquisaLeiloes.xhtml">PESQUISAR</a></li>
                         <li class="submenu-item"><a href="LicitacoesLeilao.xhtml">MINHAS OFERTAS</a></li>
                         <li class="submenu-item"><a href="MeusLeiloes.xhtml">MEUS LEILÕES</a></li>
                      </ul>
                    </li>
                    <li><a href="Mensagens.xhtml">MENSAGENS</a></li>
                    <li><a href="../Administrator/logout.xhtml">LOGOUT</a></li>
      </ul>
    </ui:define>
        
        <ui:define name="BaseUser">
             
          <h:form class="well form-horizontal" >
                <fieldset>
                    <legend>Desativação de Conta: Preencha os seguintes dados</legend>
                <h:panelGroup class="form-group">
                        <h:outputLabel class="col-md-4 control-label">Username</h:outputLabel>
                        <h:inputText id="nome" value="#{reativar.username}"  required="true" />
                </h:panelGroup>
                <h:panelGroup class="form-group">
                        <h:outputLabel class="col-md-4 control-label">Password</h:outputLabel>
                        <h:inputText id="nome2" value="#{reativar.password}"  required="true" />
                </h:panelGroup>
                    <h:panelGroup class="form-group">
                        <h:commandLink  action="#{reativar.inativarbyUser}"  value="Enviar" class="btn btn-warning" />
                    </h:panelGroup>
                </fieldset>
                
            </h:form>
        
        </ui:define>
    </ui:composition>
   
    
</html>
