<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
            xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <ui:composition template="HomeUser.xhtml">   
        <ui:define name="BaseUser">
             <f:event type="preRenderView" listener="#{login.isLogado()}"/>
             <f:event type="preRenderView" listener="#{login.checkUserPagePermission()}"/>
             
          
             <h:outputLabel class="col-md-4 control-label" value=" Utilizador: #{utilizadorController.selected.username}"></h:outputLabel>      
            <h:form class="well form-horizontal" id="contact_form" style="align-content: center">
                <fieldset>
                    <legend>Edite o seu perfil</legend>
                <h:panelGrid columns="2">
                     <h:outputLabel value="BI" for="bi" />
                     <h:inputText id="bi" value="#{utilizadorController.selected.bi}" title="#{bundle.EditUtilizadorTitle_email}" required="true" />               
                    
                     <h:outputLabel value="NIF" for="nif" />
                     <h:inputText id="nif" value="#{utilizadorController.selected.nif}" title="#{bundle.EditUtilizadorTitle_email}" required="true" />               
                    
                     
                     <h:outputLabel value="#{bundle.EditUtilizadorLabel_password}" for="password" />
                    <h:inputText id="password" value="#{utilizadorController.selected.password}" title="#{bundle.EditUtilizadorTitle_password}" required="true" requiredMessage="#{bundle.EditUtilizadorRequiredMessage_password}"/>
                    
                    
                    <h:outputLabel value="#{bundle.EditUtilizadorLabel_email}" for="email" />
                    <h:inputText id="email" value="#{utilizadorController.selected.email}" title="#{bundle.EditUtilizadorTitle_email}" required="true" requiredMessage="#{bundle.EditUtilizadorRequiredMessage_email}"/>               
                    <h:outputLabel value="#{bundle.EditUtilizadorLabel_dataNascimento}" for="dataNascimento" />
                    <h:inputText id="dataNascimento" value="#{utilizadorController.selected.dataNascimento}" title="#{bundle.EditUtilizadorTitle_dataNascimento}" >
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.EditUtilizadorLabel_morada}" for="morada" />
                    <h:inputText id="morada" value="#{utilizadorController.selected.morada}" title="#{bundle.EditUtilizadorTitle_morada}" required="true" requiredMessage="#{bundle.EditUtilizadorRequiredMessage_morada}"/>
                    <h:outputLabel value="#{bundle.EditUtilizadorLabel_nacionalidade}" for="nacionalidade" />
                    <h:inputText id="nacionalidade" value="#{utilizadorController.selected.nacionalidade}" title="#{bundle.EditUtilizadorTitle_nacionalidade}" />
                    <h:outputLabel value="#{bundle.EditUtilizadorLabel_contacto}" for="contacto" />
                    <h:inputText id="contacto" value="#{utilizadorController.selected.contacto}" title="#{bundle.EditUtilizadorTitle_contacto}" />
                </h:panelGrid>
                <h:commandLink action="#{utilizadorController.update}" class="btn btn-warning" value="#{bundle.EditUtilizadorSaveLink}"/>
            </fieldset>
            </h:form>
            
            
        </ui:define>    
        
        
    </ui:composition>
    
    
   
    
    
</html>
