<?xml version="1.0" encoding="UTF-8"?>

<!--

-To change this license header, choose License Headers in Project Properties.

-To change this template file, choose Tools | Templates

-and open the template in the editor.

-->

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

<ui:composition template="HomeUser.xhtml">
    <ui:define name="HeaderUser">
                <f:event type="preRenderView" listener="#{login.isLogado()}"/>
               <f:event type="preRenderView" listener="#{login.checkUserPagePermission()}"/>
   <ul class="nav navbar-nav">

                    <li><a href="HomeUser.xhtml">PERFIL</a>
                    <ul class="submenu">
                         <li class="submenu-item"><a href="HomeUser.xhtml">VER PERFIL</a></li>
                         <li class="submenu-item"><a href="EditaPerfil_User.xhtml">EDITAR PERFIL</a></li>
                      </ul>
                    </li>
                    <li><a  href="DesativarConta.xhtml" class="has-child">DEFINIÇÕES DE CONTA</a>
                     <ul class="submenu">
                       
                         <li class="submenu-item"><a href="DesativarConta.xhtml">INATIVAR CONTA</a></li>
                      </ul>
                    </li>
                    <li  class="is-active has-child"><a href="LeiloesEmCurso.xhtml">LEILÕES</a>
                      <ul class="submenu">
                         <li class="submenu-item"><a href="LeiloesEmCurso.xhtml">A DECORRER</a></li>                       
                         <li class="submenu-item"><a href="PesquisaLeiloes.xhtml">PESQUISAR</a></li>
                         <li class="submenu-item"><a href="LicitacoesLeilao.xhtml">MINHAS OFERTAS</a></li>
                         <li class="submenu-item"><a href="MeusLeiloes.xhtml">MEUS LEILÕES</a></li>
                      </ul>
                    </li>
                    <li><a href="Mensagens.xhtml">MENSAGENS</a></li>
                    <li><a href="../Administrator/logout.xhtml">LOGOUT</a></li>
      </ul>
    </ui:define>
    
    <ui:define name="BaseUser">

        <h:form class="well form-horizontal col-md-offset-2 col-md-8" id="contact_form">

            <label style="font-size: 200%;">Leilões a decorrer</label>

            <a class="btn btn-warning pull-right" href="CriaLeilao.xhtml">Criar Novo Leilão</a>

             <br/>

            <h:outputLabel value="Neste momento não existem leilões a decorrer!" rendered="#{leilaoController.getLeiloesActivos().size()==0}"></h:outputLabel>

          

            <h:dataTable class="table" rendered="#{leilaoController.getLeiloesActivos().size()>0}" value="#{leilaoController.getLeiloesActivos()}"  var="leilao" >

                <h:column>

                    <f:facet name="header">Ir</f:facet>

                    <h:commandLink action="#{leilaoController.viewLeilao(leilao.id)}" style="color: #000"><i class="fa fa-external-link"></i></h:commandLink>

                </h:column>

                <h:column>

                    <f:facet name="header">Nome Produto</f:facet>

                    <h:outputLabel value="#{leilao.nomeProduto}"></h:outputLabel>

                </h:column>

                <h:column>

                    <f:facet name="header">Descrição</f:facet>

                    <h:outputLabel value="#{leilao.descricaoProduto}"></h:outputLabel>

                </h:column>

                <h:column>

                    <f:facet name="header">Valor Minimo</f:facet>

                    <h:outputLabel value="#{leilao.valorMinimo}"></h:outputLabel>

                </h:column>

                <h:column>

                    <f:facet name="header">Valor Actual</f:facet>

                    <h:outputLabel value="#{leilao.valor}"></h:outputLabel>

                </h:column>

                <h:column>

                    <f:facet name="header">Data de Fim</f:facet>

                    <h:outputLabel value="#{leilao.dataFim}"></h:outputLabel>

                </h:column>

            </h:dataTable>

        </h:form>

        

    </ui:define>  

    

    

    

    </ui:composition>

</html>