<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
     xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
      
    <ui:composition template="HomeUser.xhtml">
           <ui:define name="HeaderUser">
                <f:event type="preRenderView" listener="#{login.isLogado()}"/>
                <f:event type="preRenderView" listener="#{login.checkUserPagePermission()}"/>
            
   <ul class="nav navbar-nav">
                    #{leilaoController.loadCurrentLeilao()}
                    <li><a href="HomeUser.xhtml">PERFIL</a>
                    <ul class="submenu">
                         <li class="submenu-item"><a href="VerContaUSer.xhtml">VER PERFIL</a></li>
                         <li class="submenu-item"><a href="EditaPerfil_User.xhtml">EDITAR PERFIL</a></li>
                      </ul>
                    </li>
                    <li><a  href="DesativarConta.xhtml" class="has-child">DEFINIÇÕES DE CONTA</a>
                     <ul class="submenu">
                        
                         <li class="submenu-item"><a href="DesativarConta.xhtml">INATIVAR CONTA</a></li>
                      </ul>
                    </li>
                    <li  class="is-active has-child"><a href="LeiloesEmCurso.xhtml">LEILÕES</a>
                      <ul class="submenu">
                         <li class="submenu-item"><a href="LeiloesEmCurso.xhtml">A DECORRER</a></li>                         
                         <li class="submenu-item"><a href="PesquisaLeiloes.xhtml">PESQUISAR</a></li>
                         <li class="submenu-item"><a href="LicitacoesLeilao.xhtml">MINHAS OFERTAS</a></li>
                         <li class="submenu-item"><a href="MeusLeiloes.xhtml">MEUS LEILÕES</a></li>
                      </ul>
                    </li>
                    <li><a href="Mensagens.xhtml">MENSAGENS</a></li>
                    <li><a href="../Administrator/logout.xhtml">LOGOUT</a></li>
      </ul>
    </ui:define>
        
    <ui:define name="BaseUser">
            <h:form class="well form-horizontal col-md-offset-2 col-md-8" id="contact_form">
                <h3>Ver Leilão</h3>
                <table class="table" >
                    <tr>
                        <td><h:outputLabel value="ID:"/></td>
                        <td><h:outputText value="#{leilaoController.selected.id}" title="#{bundle.ViewLeilaoTitle_id}"/></td>
                    </tr>
                    <tr>
                        <td><h:outputLabel value="Nome produto:"/></td>
                        <td><h:outputText value="#{leilaoController.selected.nomeProduto}" title="#{bundle.ViewLeilaoTitle_nomeProduto}"/></td>
                    </tr>
                    <tr>
                        <td><h:outputLabel value="Descrição produto:"/></td>
                        <td><h:outputText value="#{leilaoController.selected.descricaoProduto}" title="#{bundle.ViewLeilaoTitle_descricaoProduto}"/></td>
                    </tr>
                    <tr>
                        <td><h:outputLabel value="Data de criação:"/></td>
                        <td><h:outputText value="#{leilaoController.selected.dataInicio}" title="#{bundle.ViewLeilaoTitle_dataInicio}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText></td>
                    </tr>
                    <tr>
                        <td><h:outputLabel value="Data de fim:"/></td>
                        <td><h:outputText value="#{leilaoController.selected.dataFim}" title="#{bundle.ViewLeilaoTitle_dataFim}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText></td>
                    </tr>
                    <tr>
                        <td><h:outputLabel value="Valor actual:"/></td>
                        <td><h:outputText value="#{leilaoController.selected.valor}" title="#{bundle.ViewLeilaoTitle_valor}"/></td>
                    </tr>
                    <tr>
                        <td><h:outputLabel value="Velocidade de entrega:"/></td>
                        <td><h:outputText value="#{leilaoController.selected.velocidadeDeEntrega}" title="#{bundle.ViewLeilaoTitle_velocidadeDeEntrega}"/></td>
                    </tr>
                    <tr>
                        <td><h:outputLabel value="Estado do produto:"/></td>
                        <td><h:outputText value="#{leilaoController.selected.estadoProduto}"/></td>
                    </tr>
                    <tr>
                        <td><h:outputLabel value="Estado do leilão:"/></td>
                        <td>
                            <h:outputText value="Em progresso" rendered="#{leilaoController.selected.estadoDoBem == 0}"/>
                            <h:outputText value="Terminado com sucesso" rendered="#{leilaoController.selected.estadoDoBem == 1}"/>
                            <h:outputText value="Cancelado pelo administrador" rendered="#{leilaoController.selected.estadoDoBem == 2}"/>
                        </td>
                    </tr>
                    <tr>
                        <td><h:outputLabel value="Pontuação de Venda:"/></td>
                        <td><h:outputText value="#{leilaoController.selected.pontuacaoVenda}" title="#{bundle.ViewLeilaoTitle_pontuacaoVenda}"/></td>
                    </tr>
                    <tr>
                        <td><h:outputLabel value="Valor Minimo:"/></td>
                        <td><h:outputText value="#{leilaoController.selected.valorMinimo}" title="#{bundle.ViewLeilaoTitle_valorMinimo}"/></td>
                    </tr>
                    <tr>
                        <td><h:outputLabel value="Vendedor:"/></td>
                        <td><h:outputText value="#{leilaoController.selected.vendedor.username}" title="#{bundle.ViewLeilaoTitle_vendedor}"/></td>
                    </tr>
                </table>
                
                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#listar_licitacoes" style="text-align: center; margin:5px;">Ver Licitações</button>
                <div class="pull-right">
                    <h:panelGroup layout="block" rendered="#{leilaoController.selected.dataFim.after(leilaoController.getCurrentDatetime())}"><button type="button" class="btn btn-warning" data-toggle="modal" data-target="#licitar" style="text-align: center; margin:5px;">Licitar</button></h:panelGroup>
                    <h:panelGroup layout="block" rendered="#{leilaoController.selected.dataFim.before(leilaoController.getCurrentDatetime()) and leilaoController.selected.comprador.id == session.getValue('iduser') and leilaoController.selected.estadoDoBem == 0}"><h:commandButton class="btn btn-success" style="text-align: center; margin:5px;" value="Confirmar Pagamento" action="#{leilaoController.confirmarPagamento()}" ></h:commandButton></h:panelGroup>
                    <h:panelGroup layout="block" rendered="#{leilaoController.selected.dataFim.before(leilaoController.getCurrentDatetime()) and leilaoController.selected.comprador.id == session.getValue('iduser') and leilaoController.selected.estadoDoBem == 1 and (leilaoController.selected.estadoDoBem == null or leilaoController.selected.estadoProduto == null)}"><button type="button" class="btn btn-info" style="text-align: center; margin:5px;" data-toggle="modal" data-target="#avaliar_vendedor">Avaliar Vendedor</button></h:panelGroup>
                    <h:panelGroup layout="block" rendered="#{leilaoController.selected.dataFim.before(leilaoController.getCurrentDatetime()) and leilaoController.selected.vendedor.id == session.getValue('iduser') and leilaoController.selected.estadoDoBem == 1 and leilaoController.selected.pontuacaoVenda == null}"><button type="button" class="btn btn-info" style="text-align: center; margin:5px;" data-toggle="modal" data-target="#avaliar_comprador">Avaliar Comprador</button></h:panelGroup>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#denunciar" style="text-align: center; margin:5px;">Denunciar</button>
                </div>
                
                <div id="licitar" class="modal fade" tabindex="-1" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                              <h4 class="modal-title">Licitar</h4>
                            </div>
                            <div class="modal-body">
                                <table class="table">
                                    <tr>
                                        <td><label>Valor Actual:</label></td>
                                        <td><h:outputText value="#{leilaoController.selected.valor}" title="#{bundle.ViewLeilaoTitle_vendedor}"/></td>
                                    </tr>
                                    <tr>
                                        <td><label>Valor a Licitar:</label></td>
                                        <td><h:inputText value="#{leilaoController.novaLicitacao}"></h:inputText></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                              <h:commandButton action="#{leilaoController.criarLicitacao()}" class="btn btn-info" value="Licitar" />
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
                
                <div id="denunciar" class="modal fade" tabindex="-1" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                              <h4 class="modal-title">Denunciar</h4>
                            </div>
                            <div class="modal-body">
                                <table class="table">
                                    <tr>
                                        <td><label>Razão de Denuncia:</label></td>
                                        <td><h:inputText value="#{leilaoController.razaoDenuncia}"></h:inputText></td>
                                    </tr>
                                    <tr>
                                        <td><label>Descrição:</label></td>
                                        <td><h:inputTextarea value="#{leilaoController.descricaoDenuncia}"></h:inputTextarea></td>
                                    </tr>
                                </table>
                                <h:outputText binding="#{leilaoController.feedbackCriaDenuncia}"></h:outputText>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                              <h:commandButton action="#{leilaoController.criarDenuncia()}" class="btn btn-info" value="Submeter" ></h:commandButton>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
                
                
                <div id="listar_licitacoes" class="modal fade" tabindex="-1" role="dialog">
                    <div class="modal-dialog" >
                        <div class="modal-content">
                            <div class="modal-header">
                              <h4 class="modal-title">Ver Licitações</h4>
                            </div>
                            <div class="modal-body">
                            <h:dataTable class="table" rendered="#{leilaoController.getLicitacoesLeilao().size()>0}" value="#{leilaoController.getLicitacoesLeilao()}"  var="proposta" >

                                <h:column>
                                    <f:facet name="header">Id Proposta:</f:facet>
                                    <h:outputLabel value="#{proposta.id}"></h:outputLabel>
                                </h:column>

                                <h:column>
                                    <f:facet name="header">Comprador:</f:facet>
                                    <h:outputLabel value="#{proposta.comprador.username}"></h:outputLabel>
                                </h:column>

                                <h:column>
                                    <f:facet name="header">Data da realização da proposta:</f:facet>
                                    <h:outputLabel value="#{proposta.dataProposta}"></h:outputLabel>
                                </h:column>

                                <h:column>
                                    <f:facet name="header">Estado da proposta: </f:facet>
                                    <h:outputLabel value="Vencida" rendered="#{proposta.estado == 0}"></h:outputLabel>
                                    <h:outputLabel value="Em posição vencedora" rendered="#{proposta.estado == 1}"></h:outputLabel>
                                    <h:outputLabel value="Vencedora do leilão" rendered="#{proposta.estado == 2}"></h:outputLabel>
                                </h:column>

                                <h:column>
                                    <f:facet name="header">Valor da proposta: </f:facet>
                                    <h:outputLabel value="#{proposta.valor}"></h:outputLabel>
                                </h:column>

                            </h:dataTable>
                                
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
                
                <div id="avaliar_comprador" class="modal fade" tabindex="-1" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                              <h4 class="modal-title">Avaliar Comprador</h4>
                            </div>
                            <div class="modal-body">
                                <table class="table">
                                    <tr>
                                        <td><label>Pontuação do comprador (Entre 1 e 10):</label></td>
                                        <td><h:inputText value="#{leilaoController.selected.pontuacaoVenda}"></h:inputText></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                              <h:commandButton action="#{leilaoController.avaliaComprador()}" class="btn btn-info" value="Submeter" ></h:commandButton>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
                
                
                <div id="avaliar_vendedor" class="modal fade" tabindex="-1" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                              <h4 class="modal-title">Avaliar Vendedor</h4>
                            </div>
                            <div class="modal-body">
                                <table class="table">
                                    <tr>
                                        <td><label>Velocidade de Entrega (Entre 1 e 10):</label></td>
                                        <td><h:inputText value="#{leilaoController.selected.velocidadeDeEntrega}"></h:inputText></td>
                                    </tr>
                                    <tr>
                                        <td><label>Estado do Produto (Entre 1 e 10):</label></td>
                                        <td><h:inputText value="#{leilaoController.selected.estadoProduto}"></h:inputText></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                              <h:commandButton action="#{leilaoController.avaliaVendedor()}" class="btn btn-info" value="Submeter" ></h:commandButton>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
                
            </h:form>
            
        </ui:define>  
    
    </ui:composition>
</html>


