<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    
    <ui:composition template="HomeUser.xhtml">
        <ui:define name="HeaderUser">
                    <f:event type="preRenderView" listener="#{login.isLogado()}"/>
                    <f:event type="preRenderView" listener="#{login.checkUserPagePermission()}"/>
            
   <ul class="nav navbar-nav">

                    <li><a href="HomeUser.xhtml">PERFIL</a>
                    <ul class="submenu">
                         <li class="submenu-item"><a href="HomeUser.xhtml">VER PERFIL</a></li>
                         <li class="submenu-item"><a href="EditaPerfil_User.xhtml">EDITAR PERFIL</a></li>
                      </ul>
                    </li>
                    <li><a  href="DesativarConta.xhtml" class="has-child">DEFINIÇÕES DE CONTA</a>
                     <ul class="submenu">
                    
                         <li class="submenu-item"><a href="DesativarConta.xhtml">INATIVAR CONTA</a></li>
                      </ul>
                    </li>
                    <li class="is-active has-child"><a href="LeiloesEmCurso.xhtml">LEILÕES</a>
                      <ul class="submenu">
                         <li class="submenu-item"><a href="LeiloesEmCurso.xhtml">A DECORRER</a></li>                         
                         <li class="submenu-item"><a href="PesquisaLeiloes.xhtml">PESQUISAR</a></li>
                         <li class="submenu-item"><a href="LicitacoesLeilao.xhtml">MINHAS OFERTAS</a></li>
                         <li class="submenu-item"><a href="MeusLeiloes.xhtml">MEUS LEILÕES</a></li>
                      </ul>
                    </li>
                    <li><a href="Mensagens.xhtml">MENSAGENS</a></li>
                    <li><a href="../Administrator/logout.xhtml">LOGOUT</a></li>
      </ul>
            
            
            
            
        </ui:define>
        
        <ui:define name="BaseUser">
            
            
            
            <h:form>
            <div class="container" >
    <div class="row">
        <div class="col-md-5">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-comment"></span> Chat
                    <div class="btn-group pull-right">
                      
                       
                    </div>
                </div>
                <div class="panel-body">
                    <ul class="chat">
                        <li class="left clearfix"><span class="chat-img pull-left">
                            
                        </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font">Jack Sparrow</strong> <small class="pull-right text-muted">
                                        <span class="glyphicon glyphicon-time"></span>12 mins ago</small>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                                    dolor, quis ullamcorper ligula sodales.
                                </p>
                            </div>
                        </li>
                        <li class="right clearfix"><span class="chat-img pull-right">
                           
                        </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>13 mins ago</small>
                                    <strong class="pull-right primary-font">Bhaumik Patel</strong>
                                </div>
                                <p>
                                    
                                </p>
                            </div>
                        </li>
                        <li class="left clearfix"><span class="chat-img pull-left">
                           
                        </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font">Jack Sparrow</strong> <small class="pull-right text-muted">
                                        <span class="glyphicon glyphicon-time"></span>14 mins ago</small>
                                </div>
                                <p>
                                   <h:outputText id="output" value="#{mensage.titulo}" />
                                  
                                </p>
                            </div>
                        </li>
                        <li class="right clearfix"><span class="chat-img pull-right">
                           
                        </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>15 mins ago</small>
                                    <strong class="pull-right primary-font">Bhaumik Patel</strong>
                                </div>
                                <p>
                                     
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="panel-footer">
                    <div class="input-group">
                        <h:inputText id="btn-input" class="form-control input-sm" value="#{mensage.titulo}"  />
                       <!-- <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..."/>-->
                        <span class="input-group-btn">
                           <!-- <button class="btn btn-warning btn-sm" id="btn-chat">
                                Send</button>-->
                           <h:commandButton value="SendAS" class="btn btn-warning btn-sm" >
                                <f:ajax execute="btn-input" render="teste" />
</h:commandButton>
                           

                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
            </h:form>
             <h:form>
      
                 <h:inputText id="name" value="#{mensage.titulo}">
                  
                 </h:inputText>
                 <h:commandButton value="Welcome Me" >
           <f:ajax execute="name" render="output" />
            
        </h:commandButton>
        
                 <h:outputText id="output" value="#{mensage.titulo}" />
                 
        
                 <h:outputLabel id="tip"></h:outputLabel>
                 
                 
                 
                 
                 <h:panelGroup  id="TESTE" >
    
</h:panelGroup>
                 
                 
      </h:form>
            
            
        </ui:define>
        
        
    </ui:composition>
    
    
    
</html>
