<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
   xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
      
    <ui:composition template="HomeUser.xhtml">
           <ui:define name="HeaderUser">
                <f:event type="preRenderView" listener="#{login.isLogado()}"/>
                <f:event type="preRenderView" listener="#{login.checkUserPagePermission()}"/>
             
   <ul class="nav navbar-nav">

                    <li><a href="HomeUser.xhtml">PERFIL</a>
                    <ul class="submenu">
                         <li class="submenu-item"><a href="HomeUser.xhtml">VER PERFIL</a></li>
                         <li class="submenu-item"><a href="EditaPerfil_User.xhtml">EDITAR PERFIL</a></li>
                      </ul>
                    </li>
                    <li><a  href="DesativarConta.xhtml" class="has-child">DEFINIÇÕES DE CONTA</a>
                     <ul class="submenu">
                         <li class="submenu-item"><a href="DesativarConta.xhtml">INATIVAR CONTA</a></li>
                      </ul>
                    </li>
                    <li class="is-active has-child"><a href="LeiloesEmCurso.xhtml">LEILÕES</a>
                      <ul class="submenu">
                         <li class="submenu-item"><a href="LeiloesEmCurso.xhtml">A DECORRER</a></li>                          
                         <li class="submenu-item"><a href="PesquisaLeiloes.xhtml">PESQUISAR</a></li>
                         <li class="submenu-item"><a href="LicitacoesLeilao.xhtml">MINHAS OFERTAS</a></li>
                         <li class="submenu-item"><a href="MeusLeiloes.xhtml">MEUS LEILÕES</a></li>
                      </ul>
                    </li>
                    <li><a href="Mensagens.xhtml">MENSAGENS</a></li>
                    <li><a href="../Administrator/logout.xhtml">LOGOUT</a></li>
      </ul>
    </ui:define>
        
    <ui:define name="BaseUser">
            <h:form class="well form-horizontal" id="contact_form">
                <fieldset>
                    <legend>Pesquisa por leilões: </legend>
                    
                     <h:outputLabel value="Pesquisa por"></h:outputLabel>
          
                    <h:selectOneMenu >
                            <f:selectItem itemValue="Nome do produto" itemLabel="Nome do produto" />
                            <f:selectItem itemValue="Data de início do leilão" itemLabel="Data de início do leilão" />
                            <f:selectItem itemValue="Data de fim do leilão" itemLabel="Data de fim do leilão" />
                            <f:selectItem itemValue="Valor Atual" itemLabel="Valor Atual" />
                            <f:selectItem itemValue="Licitação Base" itemLabel="Licitação Base" />
                            
                    </h:selectOneMenu>
                    
                     <p></p>        
                     
                     
                                       <h:inputText id="valor" required="true" />               
                 
                                       <h:commandLink value="Pequisar" class="btn btn-warning" />
           
                    
                <h:dataTable class="table"  var="leilao" >
          
                <h:column>
                    <f:facet name="header">Id Leilão: </f:facet>
                      <h:outputLabel value="#{leilao.id}"></h:outputLabel>
                </h:column>
               
               
                <h:column>
                    <f:facet name="header">Início do leilão: </f:facet>
                    <h:outputLabel value="#{leilao.dataInicio}"></h:outputLabel>
                </h:column>
               
               
               
                <h:column>
                    <f:facet name="header">Descrição do produto: </f:facet>
                    <h:outputLabel value="#{leilao.descricaoProduto}"></h:outputLabel>
                </h:column>
               
               
               
                <h:column>
                    <f:facet name="header">Estado do bem: </f:facet>
                    <h:outputLabel value="#{leilao.estadoDoBem}"></h:outputLabel>
                </h:column>
               
               
               
                <h:column>
                    <f:facet name="header">Nome do produto: </f:facet>
                    <h:outputLabel value="#{leilao.nomeProduto}"></h:outputLabel>
                </h:column>
               
               
               
                <h:column>
                    <f:facet name="header">Valor atual : </f:facet>
                    <h:outputLabel value="#{leilao.valor}"></h:outputLabel>
                </h:column>
               
               
               
                <h:column>
                    <f:facet name="header">Base minima de licitação: </f:facet>
                    <h:outputLabel value="#{leilao.valorMinimo}"></h:outputLabel>
                </h:column>
               
               
                  
               
               
            </h:dataTable>
                     
                     
                     
                </fieldset>
            </h:form>
    </ui:define>  
    
    
    
    </ui:composition>
</html>


