<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateUtilizadorTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateUtilizadorLabel_id}" for="id" />
                    <h:inputText id="id" value="#{utilizadorController.selected.id}" title="#{bundle.CreateUtilizadorTitle_id}" required="true" requiredMessage="#{bundle.CreateUtilizadorRequiredMessage_id}"/>
                    <h:outputLabel value="#{bundle.CreateUtilizadorLabel_username}" for="username" />
                    <h:inputText id="username" value="#{utilizadorController.selected.username}" title="#{bundle.CreateUtilizadorTitle_username}" required="true" requiredMessage="#{bundle.CreateUtilizadorRequiredMessage_username}"/>
                    <h:outputLabel value="#{bundle.CreateUtilizadorLabel_email}" for="email" />
                    <h:inputText id="email" value="#{utilizadorController.selected.email}" title="#{bundle.CreateUtilizadorTitle_email}" required="true" requiredMessage="#{bundle.CreateUtilizadorRequiredMessage_email}"/>
                    <h:outputLabel value="#{bundle.CreateUtilizadorLabel_password}" for="password" />
                    <h:inputText id="password" value="#{utilizadorController.selected.password}" title="#{bundle.CreateUtilizadorTitle_password}" required="true" requiredMessage="#{bundle.CreateUtilizadorRequiredMessage_password}"/>
                    <h:outputLabel value="#{bundle.CreateUtilizadorLabel_nome}" for="nome" />
                    <h:inputText id="nome" value="#{utilizadorController.selected.nome}" title="#{bundle.CreateUtilizadorTitle_nome}" required="true" requiredMessage="#{bundle.CreateUtilizadorRequiredMessage_nome}"/>
                    <h:outputLabel value="#{bundle.CreateUtilizadorLabel_dataNascimento}" for="dataNascimento" />
                    <h:inputText id="dataNascimento" value="#{utilizadorController.selected.dataNascimento}" title="#{bundle.CreateUtilizadorTitle_dataNascimento}" >
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.CreateUtilizadorLabel_morada}" for="morada" />
                    <h:inputText id="morada" value="#{utilizadorController.selected.morada}" title="#{bundle.CreateUtilizadorTitle_morada}" required="true" requiredMessage="#{bundle.CreateUtilizadorRequiredMessage_morada}"/>
                    <h:outputLabel value="#{bundle.CreateUtilizadorLabel_nacionalidade}" for="nacionalidade" />
                    <h:inputText id="nacionalidade" value="#{utilizadorController.selected.nacionalidade}" title="#{bundle.CreateUtilizadorTitle_nacionalidade}" />
                    <h:outputLabel value="#{bundle.CreateUtilizadorLabel_contacto}" for="contacto" />
                    <h:inputText id="contacto" value="#{utilizadorController.selected.contacto}" title="#{bundle.CreateUtilizadorTitle_contacto}" />
                    <h:outputLabel value="#{bundle.CreateUtilizadorLabel_dataCriacao}" for="dataCriacao" />
                    <h:inputText id="dataCriacao" value="#{utilizadorController.selected.dataCriacao}" title="#{bundle.CreateUtilizadorTitle_dataCriacao}" >
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.CreateUtilizadorLabel_pontuacaoVendedor}" for="pontuacaoVendedor" />
                    <h:inputText id="pontuacaoVendedor" value="#{utilizadorController.selected.pontuacaoVendedor}" title="#{bundle.CreateUtilizadorTitle_pontuacaoVendedor}" />
                    <h:outputLabel value="#{bundle.CreateUtilizadorLabel_pontuacaoComprador}" for="pontuacaoComprador" />
                    <h:inputText id="pontuacaoComprador" value="#{utilizadorController.selected.pontuacaoComprador}" title="#{bundle.CreateUtilizadorTitle_pontuacaoComprador}" />
                    <h:outputLabel value="#{bundle.CreateUtilizadorLabel_contaActiva}" for="contaActiva" />
                    <h:inputText id="contaActiva" value="#{utilizadorController.selected.contaActiva}" title="#{bundle.CreateUtilizadorTitle_contaActiva}" />
                </h:panelGrid>
                <br />
                <h:commandLink action="#{utilizadorController.create}" value="#{bundle.CreateUtilizadorSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{utilizadorController.prepareList}" value="#{bundle.CreateUtilizadorShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateUtilizadorIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
