<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditUtilizadorTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditUtilizadorLabel_id}" for="id" />
                    <h:inputText id="id" value="#{utilizadorController.selected.id}" title="#{bundle.EditUtilizadorTitle_id}" required="true" requiredMessage="#{bundle.EditUtilizadorRequiredMessage_id}"/>
                    <h:outputLabel value="#{bundle.EditUtilizadorLabel_username}" for="username" />
                    <h:inputText id="username" value="#{utilizadorController.selected.username}" title="#{bundle.EditUtilizadorTitle_username}" required="true" requiredMessage="#{bundle.EditUtilizadorRequiredMessage_username}"/>
                    <h:outputLabel value="#{bundle.EditUtilizadorLabel_email}" for="email" />
                    <h:inputText id="email" value="#{utilizadorController.selected.email}" title="#{bundle.EditUtilizadorTitle_email}" required="true" requiredMessage="#{bundle.EditUtilizadorRequiredMessage_email}"/>
                    <h:outputLabel value="#{bundle.EditUtilizadorLabel_password}" for="password" />
                    <h:inputText id="password" value="#{utilizadorController.selected.password}" title="#{bundle.EditUtilizadorTitle_password}" required="true" requiredMessage="#{bundle.EditUtilizadorRequiredMessage_password}"/>
                    <h:outputLabel value="#{bundle.EditUtilizadorLabel_nome}" for="nome" />
                    <h:inputText id="nome" value="#{utilizadorController.selected.nome}" title="#{bundle.EditUtilizadorTitle_nome}" required="true" requiredMessage="#{bundle.EditUtilizadorRequiredMessage_nome}"/>
                    <h:outputLabel value="#{bundle.EditUtilizadorLabel_dataNascimento}" for="dataNascimento" />
                    <h:inputText id="dataNascimento" value="#{utilizadorController.selected.dataNascimento}" title="#{bundle.EditUtilizadorTitle_dataNascimento}" >
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.EditUtilizadorLabel_morada}" for="morada" />
                    <h:inputText id="morada" value="#{utilizadorController.selected.morada}" title="#{bundle.EditUtilizadorTitle_morada}" required="true" requiredMessage="#{bundle.EditUtilizadorRequiredMessage_morada}"/>
                    <h:outputLabel value="#{bundle.EditUtilizadorLabel_nacionalidade}" for="nacionalidade" />
                    <h:inputText id="nacionalidade" value="#{utilizadorController.selected.nacionalidade}" title="#{bundle.EditUtilizadorTitle_nacionalidade}" />
                    <h:outputLabel value="#{bundle.EditUtilizadorLabel_contacto}" for="contacto" />
                    <h:inputText id="contacto" value="#{utilizadorController.selected.contacto}" title="#{bundle.EditUtilizadorTitle_contacto}" />
                    <h:outputLabel value="#{bundle.EditUtilizadorLabel_dataCriacao}" for="dataCriacao" />
                    <h:inputText id="dataCriacao" value="#{utilizadorController.selected.dataCriacao}" title="#{bundle.EditUtilizadorTitle_dataCriacao}" >
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.EditUtilizadorLabel_pontuacaoVendedor}" for="pontuacaoVendedor" />
                    <h:inputText id="pontuacaoVendedor" value="#{utilizadorController.selected.pontuacaoVendedor}" title="#{bundle.EditUtilizadorTitle_pontuacaoVendedor}" />
                    <h:outputLabel value="#{bundle.EditUtilizadorLabel_pontuacaoComprador}" for="pontuacaoComprador" />
                    <h:inputText id="pontuacaoComprador" value="#{utilizadorController.selected.pontuacaoComprador}" title="#{bundle.EditUtilizadorTitle_pontuacaoComprador}" />
                    <h:outputLabel value="#{bundle.EditUtilizadorLabel_contaActiva}" for="contaActiva" />
                    <h:inputText id="contaActiva" value="#{utilizadorController.selected.contaActiva}" title="#{bundle.EditUtilizadorTitle_contaActiva}" />
                </h:panelGrid>
                <h:commandLink action="#{utilizadorController.update}" value="#{bundle.EditUtilizadorSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditUtilizadorViewLink}"/>
                <br />
                <h:commandLink action="#{utilizadorController.prepareList}" value="#{bundle.EditUtilizadorShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditUtilizadorIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
