<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListUtilizadorTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListUtilizadorEmpty}" rendered="#{utilizadorController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{utilizadorController.items.rowCount > 0}">
                    <h:outputText value="#{utilizadorController.pagination.pageFirstItem + 1}..#{utilizadorController.pagination.pageLastItem + 1}/#{utilizadorController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{utilizadorController.previous}" value="#{bundle.Previous} #{utilizadorController.pagination.pageSize}" rendered="#{utilizadorController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{utilizadorController.next}" value="#{bundle.Next} #{utilizadorController.pagination.pageSize}" rendered="#{utilizadorController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{utilizadorController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListUtilizadorTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListUtilizadorTitle_username}"/>
                            </f:facet>
                            <h:outputText value="#{item.username}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListUtilizadorTitle_email}"/>
                            </f:facet>
                            <h:outputText value="#{item.email}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListUtilizadorTitle_password}"/>
                            </f:facet>
                            <h:outputText value="#{item.password}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListUtilizadorTitle_nome}"/>
                            </f:facet>
                            <h:outputText value="#{item.nome}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListUtilizadorTitle_dataNascimento}"/>
                            </f:facet>
                            <h:outputText value="#{item.dataNascimento}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListUtilizadorTitle_morada}"/>
                            </f:facet>
                            <h:outputText value="#{item.morada}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListUtilizadorTitle_nacionalidade}"/>
                            </f:facet>
                            <h:outputText value="#{item.nacionalidade}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListUtilizadorTitle_contacto}"/>
                            </f:facet>
                            <h:outputText value="#{item.contacto}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListUtilizadorTitle_dataCriacao}"/>
                            </f:facet>
                            <h:outputText value="#{item.dataCriacao}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListUtilizadorTitle_pontuacaoVendedor}"/>
                            </f:facet>
                            <h:outputText value="#{item.pontuacaoVendedor}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListUtilizadorTitle_pontuacaoComprador}"/>
                            </f:facet>
                            <h:outputText value="#{item.pontuacaoComprador}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListUtilizadorTitle_contaActiva}"/>
                            </f:facet>
                            <h:outputText value="#{item.contaActiva}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{utilizadorController.prepareView}" value="#{bundle.ListUtilizadorViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{utilizadorController.prepareEdit}" value="#{bundle.ListUtilizadorEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{utilizadorController.destroy}" value="#{bundle.ListUtilizadorDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{utilizadorController.prepareCreate}" value="#{bundle.ListUtilizadorCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListUtilizadorIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
