<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewUtilizadorTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewUtilizadorLabel_id}"/>
                    <h:outputText value="#{utilizadorController.selected.id}" title="#{bundle.ViewUtilizadorTitle_id}"/>
                    <h:outputText value="#{bundle.ViewUtilizadorLabel_username}"/>
                    <h:outputText value="#{utilizadorController.selected.username}" title="#{bundle.ViewUtilizadorTitle_username}"/>
                    <h:outputText value="#{bundle.ViewUtilizadorLabel_email}"/>
                    <h:outputText value="#{utilizadorController.selected.email}" title="#{bundle.ViewUtilizadorTitle_email}"/>
                    <h:outputText value="#{bundle.ViewUtilizadorLabel_password}"/>
                    <h:outputText value="#{utilizadorController.selected.password}" title="#{bundle.ViewUtilizadorTitle_password}"/>
                    <h:outputText value="#{bundle.ViewUtilizadorLabel_nome}"/>
                    <h:outputText value="#{utilizadorController.selected.nome}" title="#{bundle.ViewUtilizadorTitle_nome}"/>
                    <h:outputText value="#{bundle.ViewUtilizadorLabel_dataNascimento}"/>
                    <h:outputText value="#{utilizadorController.selected.dataNascimento}" title="#{bundle.ViewUtilizadorTitle_dataNascimento}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewUtilizadorLabel_morada}"/>
                    <h:outputText value="#{utilizadorController.selected.morada}" title="#{bundle.ViewUtilizadorTitle_morada}"/>
                    <h:outputText value="#{bundle.ViewUtilizadorLabel_nacionalidade}"/>
                    <h:outputText value="#{utilizadorController.selected.nacionalidade}" title="#{bundle.ViewUtilizadorTitle_nacionalidade}"/>
                    <h:outputText value="#{bundle.ViewUtilizadorLabel_contacto}"/>
                    <h:outputText value="#{utilizadorController.selected.contacto}" title="#{bundle.ViewUtilizadorTitle_contacto}"/>
                    <h:outputText value="#{bundle.ViewUtilizadorLabel_dataCriacao}"/>
                    <h:outputText value="#{utilizadorController.selected.dataCriacao}" title="#{bundle.ViewUtilizadorTitle_dataCriacao}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewUtilizadorLabel_pontuacaoVendedor}"/>
                    <h:outputText value="#{utilizadorController.selected.pontuacaoVendedor}" title="#{bundle.ViewUtilizadorTitle_pontuacaoVendedor}"/>
                    <h:outputText value="#{bundle.ViewUtilizadorLabel_pontuacaoComprador}"/>
                    <h:outputText value="#{utilizadorController.selected.pontuacaoComprador}" title="#{bundle.ViewUtilizadorTitle_pontuacaoComprador}"/>
                    <h:outputText value="#{bundle.ViewUtilizadorLabel_contaActiva}"/>
                    <h:outputText value="#{utilizadorController.selected.contaActiva}" title="#{bundle.ViewUtilizadorTitle_contaActiva}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{utilizadorController.destroyAndView}" value="#{bundle.ViewUtilizadorDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewUtilizadorEditLink}"/>
                <br />
                <h:commandLink action="#{utilizadorController.prepareCreate}" value="#{bundle.ViewUtilizadorCreateLink}" />
                <br />
                <h:commandLink action="#{utilizadorController.prepareList}" value="#{bundle.ViewUtilizadorShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewUtilizadorIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
