<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditLeilaoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditLeilaoLabel_id}" for="id" />
                    <h:inputText id="id" value="#{leilaoController.selected.id}" title="#{bundle.EditLeilaoTitle_id}" required="true" requiredMessage="#{bundle.EditLeilaoRequiredMessage_id}"/>
                    <h:outputLabel value="#{bundle.EditLeilaoLabel_nomeProduto}" for="nomeProduto" />
                    <h:inputText id="nomeProduto" value="#{leilaoController.selected.nomeProduto}" title="#{bundle.EditLeilaoTitle_nomeProduto}" required="true" requiredMessage="#{bundle.EditLeilaoRequiredMessage_nomeProduto}"/>
                    <h:outputLabel value="#{bundle.EditLeilaoLabel_descricaoProduto}" for="descricaoProduto" />
                    <h:inputText id="descricaoProduto" value="#{leilaoController.selected.descricaoProduto}" title="#{bundle.EditLeilaoTitle_descricaoProduto}" required="true" requiredMessage="#{bundle.EditLeilaoRequiredMessage_descricaoProduto}"/>
                    <h:outputLabel value="#{bundle.EditLeilaoLabel_dataInicio}" for="dataInicio" />
                    <h:inputText id="dataInicio" value="#{leilaoController.selected.dataInicio}" title="#{bundle.EditLeilaoTitle_dataInicio}" >
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.EditLeilaoLabel_dataFim}" for="dataFim" />
                    <h:inputText id="dataFim" value="#{leilaoController.selected.dataFim}" title="#{bundle.EditLeilaoTitle_dataFim}" >
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.EditLeilaoLabel_valor}" for="valor" />
                    <h:inputText id="valor" value="#{leilaoController.selected.valor}" title="#{bundle.EditLeilaoTitle_valor}" />
                    <h:outputLabel value="#{bundle.EditLeilaoLabel_velocidadeDeEntrega}" for="velocidadeDeEntrega" />
                    <h:inputText id="velocidadeDeEntrega" value="#{leilaoController.selected.velocidadeDeEntrega}" title="#{bundle.EditLeilaoTitle_velocidadeDeEntrega}" />
                    <h:outputLabel value="#{bundle.EditLeilaoLabel_estadoDoBem}" for="estadoDoBem" />
                    <h:inputText id="estadoDoBem" value="#{leilaoController.selected.estadoDoBem}" title="#{bundle.EditLeilaoTitle_estadoDoBem}" />
                    <h:outputLabel value="#{bundle.EditLeilaoLabel_pontuacaoVenda}" for="pontuacaoVenda" />
                    <h:inputText id="pontuacaoVenda" value="#{leilaoController.selected.pontuacaoVenda}" title="#{bundle.EditLeilaoTitle_pontuacaoVenda}" />
                    <h:outputLabel value="#{bundle.EditLeilaoLabel_valorMinimo}" for="valorMinimo" />
                    <h:inputText id="valorMinimo" value="#{leilaoController.selected.valorMinimo}" title="#{bundle.EditLeilaoTitle_valorMinimo}" />
                    <h:outputLabel value="#{bundle.EditLeilaoLabel_vendedor}" for="vendedor" />
                    <h:selectOneMenu id="vendedor" value="#{leilaoController.selected.vendedor}" title="#{bundle.EditLeilaoTitle_vendedor}" required="true" requiredMessage="#{bundle.EditLeilaoRequiredMessage_vendedor}">
                        <f:selectItems value="#{utilizadorController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{leilaoController.update}" value="#{bundle.EditLeilaoSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditLeilaoViewLink}"/>
                <br />
                <h:commandLink action="#{leilaoController.prepareList}" value="#{bundle.EditLeilaoShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditLeilaoIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
