<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListLeilaoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListLeilaoEmpty}" rendered="#{leilaoController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{leilaoController.items.rowCount > 0}">
                    <h:outputText value="#{leilaoController.pagination.pageFirstItem + 1}..#{leilaoController.pagination.pageLastItem + 1}/#{leilaoController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{leilaoController.previous}" value="#{bundle.Previous} #{leilaoController.pagination.pageSize}" rendered="#{leilaoController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{leilaoController.next}" value="#{bundle.Next} #{leilaoController.pagination.pageSize}" rendered="#{leilaoController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{leilaoController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLeilaoTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLeilaoTitle_nomeProduto}"/>
                            </f:facet>
                            <h:outputText value="#{item.nomeProduto}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLeilaoTitle_descricaoProduto}"/>
                            </f:facet>
                            <h:outputText value="#{item.descricaoProduto}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLeilaoTitle_dataInicio}"/>
                            </f:facet>
                            <h:outputText value="#{item.dataInicio}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLeilaoTitle_dataFim}"/>
                            </f:facet>
                            <h:outputText value="#{item.dataFim}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLeilaoTitle_valor}"/>
                            </f:facet>
                            <h:outputText value="#{item.valor}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLeilaoTitle_velocidadeDeEntrega}"/>
                            </f:facet>
                            <h:outputText value="#{item.velocidadeDeEntrega}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLeilaoTitle_estadoDoBem}"/>
                            </f:facet>
                            <h:outputText value="#{item.estadoDoBem}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLeilaoTitle_pontuacaoVenda}"/>
                            </f:facet>
                            <h:outputText value="#{item.pontuacaoVenda}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLeilaoTitle_valorMinimo}"/>
                            </f:facet>
                            <h:outputText value="#{item.valorMinimo}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLeilaoTitle_vendedor}"/>
                            </f:facet>
                            <h:outputText value="#{item.vendedor}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{leilaoController.prepareView}" value="#{bundle.ListLeilaoViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{leilaoController.prepareEdit}" value="#{bundle.ListLeilaoEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{leilaoController.destroy}" value="#{bundle.ListLeilaoDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{leilaoController.prepareCreate}" value="#{bundle.ListLeilaoCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListLeilaoIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
