<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewLeilaoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewLeilaoLabel_id}"/>
                    <h:outputText value="#{leilaoController.selected.id}" title="#{bundle.ViewLeilaoTitle_id}"/>
                    <h:outputText value="#{bundle.ViewLeilaoLabel_nomeProduto}"/>
                    <h:outputText value="#{leilaoController.selected.nomeProduto}" title="#{bundle.ViewLeilaoTitle_nomeProduto}"/>
                    <h:outputText value="#{bundle.ViewLeilaoLabel_descricaoProduto}"/>
                    <h:outputText value="#{leilaoController.selected.descricaoProduto}" title="#{bundle.ViewLeilaoTitle_descricaoProduto}"/>
                    <h:outputText value="#{bundle.ViewLeilaoLabel_dataInicio}"/>
                    <h:outputText value="#{leilaoController.selected.dataInicio}" title="#{bundle.ViewLeilaoTitle_dataInicio}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewLeilaoLabel_dataFim}"/>
                    <h:outputText value="#{leilaoController.selected.dataFim}" title="#{bundle.ViewLeilaoTitle_dataFim}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewLeilaoLabel_valor}"/>
                    <h:outputText value="#{leilaoController.selected.valor}" title="#{bundle.ViewLeilaoTitle_valor}"/>
                    <h:outputText value="#{bundle.ViewLeilaoLabel_velocidadeDeEntrega}"/>
                    <h:outputText value="#{leilaoController.selected.velocidadeDeEntrega}" title="#{bundle.ViewLeilaoTitle_velocidadeDeEntrega}"/>
                    <h:outputText value="#{bundle.ViewLeilaoLabel_estadoDoBem}"/>
                    <h:outputText value="#{leilaoController.selected.estadoDoBem}" title="#{bundle.ViewLeilaoTitle_estadoDoBem}"/>
                    <h:outputText value="#{bundle.ViewLeilaoLabel_pontuacaoVenda}"/>
                    <h:outputText value="#{leilaoController.selected.pontuacaoVenda}" title="#{bundle.ViewLeilaoTitle_pontuacaoVenda}"/>
                    <h:outputText value="#{bundle.ViewLeilaoLabel_valorMinimo}"/>
                    <h:outputText value="#{leilaoController.selected.valorMinimo}" title="#{bundle.ViewLeilaoTitle_valorMinimo}"/>
                    <h:outputText value="#{bundle.ViewLeilaoLabel_vendedor}"/>
                    <h:outputText value="#{leilaoController.selected.vendedor}" title="#{bundle.ViewLeilaoTitle_vendedor}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{leilaoController.destroyAndView}" value="#{bundle.ViewLeilaoDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewLeilaoEditLink}"/>
                <br />
                <h:commandLink action="#{leilaoController.prepareCreate}" value="#{bundle.ViewLeilaoCreateLink}" />
                <br />
                <h:commandLink action="#{leilaoController.prepareList}" value="#{bundle.ViewLeilaoShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewLeilaoIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
