<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
       xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    
    <ui:composition>
    <!-- Carousel
    ================================================== -->
    <!-- Carousel
    ================================================== -->
    
    #{dadosEstatisticos.updateDadosEstatisticos()}
    <div id="homeCarousel" class="carousel slide carousel-home" data-ride="carousel">

          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#homeCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#homeCarousel" data-slide-to="1"></li>
            <li data-target="#homeCarousel" data-slide-to="2"></li>
            <li data-target="#homeCarousel" data-slide-to="3"></li>
            <li data-target="#homeCarousel" data-slide-to="4"></li>
          </ol>

          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img src="../assets/images/slider/Leilao.jpg" alt=""/>
              <div class="container">
                <div class="carousel-caption">
                  <h2 class="carousel-title bounceInDown animated slow">Bem-Vindo ao ISEC Leilões</h2>
                  <h4 class="carousel-subtitle bounceInUp animated slow ">Melhor Site de Leilões do Mundo</h4>
                  <a href="../Guest/Registo.xhtml" class="btn btn-lg btn-secondary hidden-xs bounceInUp animated slow" >REGISTAR AGORA</a>
                </div> <!-- /.carousel-caption -->
              </div>
            </div> <!-- /.item -->


            <div class="item ">
              <img src="../assets/images/slider/Casa.jpg" alt=""/>
              <div class="container">
                <div class="carousel-caption">
                  <h2 class="carousel-title bounceInDown animated slow">Aqui encontra...</h2>
                  <h4 class="carousel-subtitle bounceInUp animated slow"> Casas</h4>
                   <a href="../Guest/Registo.xhtml" class="btn btn-lg btn-secondary hidden-xs bounceInUp animated slow" >REGISTAR AGORA</a>
                </div> <!-- /.carousel-caption -->
              </div>
            </div> <!-- /.item -->
            
            <div class="item ">
              <img src="../assets/images/slider/Joias.jpg" alt=""/>
              <div class="container">
                <div class="carousel-caption">
                  <h2 class="carousel-title bounceInDown animated slow" >Aqui encontra...</h2>
                  <h4 class="carousel-subtitle bounceInUp animated slow">Jóias</h4>
                  <a href="../Guest/Registo.xhtml" class="btn btn-lg btn-secondary hidden-xs bounceInUp animated slow" >REGISTAR AGORA</a>
                </div> <!-- /.carousel-caption -->
              </div>
            </div> <!-- /.item -->
            
            <div class="item ">
              <img src="../assets/images/slider/porsche.jpg" alt=""/>
              <div class="container">
                <div class="carousel-caption">
                  <h2 class="carousel-title bounceInDown animated slow" >Aqui encontra...</h2>
                  <h4 class="carousel-subtitle bounceInUp animated slow">Carros</h4>
                  <a href="../Guest/Registo.xhtml" class="btn btn-lg btn-secondary hidden-xs bounceInUp animated slow">REGISTAR AGORA</a>
                </div> <!-- /.carousel-caption -->
              </div>
            </div> <!-- /.item -->
            
            <div class="item ">
              <img src="../assets/images/slider/iate.jpg" alt=""/>
              <div class="container">
                <div class="carousel-caption">
                  <h2 class="carousel-title bounceInDown animated slow" >Aqui encontra...</h2>
                  <h4 class="carousel-subtitle bounceInUp animated slow">Barcos</h4>
                  <a href="../Guest/Registo.xhtml" class="btn btn-lg btn-secondary hidden-xs bounceInUp animated slow" >REGISTAR AGORA</a>
                </div> <!-- /.carousel-caption -->
              </div>
            </div> <!-- /.item -->
            
            

          </div>

          <a class="left carousel-control" href="#homeCarousel" role="button" data-slide="prev">
            <span class="fa fa-angle-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>

          <a class="right carousel-control" href="#homeCarousel" role="button" data-slide="next">
            <span class="fa fa-angle-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>

    </div><!-- /.carousel -->

    <script type="text/javascript">
    setInterval(function() { 
        document.getElementById('myForm:btnLoadData').submit();
        }, 5*1000);
    </script>

    <h:panelGroup id="divData" class="row">
        
        <div class="section-home about-us fadeIn animated">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6">              
                      <div class="about-us-col">
                            <div class="col-icon-wrapper">
                              <img src="../assets/images/icons/total_users.png" alt=""/>
                            </div>
                            <h3 class="col-title">Utilizadores</h3>
                            <div class="col-details">
                              <p>Número total de utilizadores: 
                                  <h:outputLabel value="#{dadosEstatisticos.totalUtilizadores}"></h:outputLabel>

                              </p>                         
                            </div>                                       
                      </div>                
                    </div>

                    <div class="col-md-3 col-sm-6">              
                      <div class="about-us-col">
                            <div class="col-icon-wrapper">
                              <img src="../assets/images/icons/usersOnline.jpg" alt=""/>
                            </div>
                            <h3 class="col-title">Utilizadores Online</h3>
                            <div class="col-details">
                              <p>Utilizadores Online neste momento:
                                  <h:outputLabel value="0"></h:outputLabel>
                              </p>                      
                            </div>

                      </div>               
                    </div>

                    <div class="col-md-3 col-sm-6">              
                      <div class="about-us-col">
                            <div class="col-icon-wrapper">
                              <img src="../assets/images/icons/bens_a_venda.jpg" alt=""/>
                            </div>
                            <h3 class="col-title">Artigos</h3>
                            <div class="col-details">
                              <p>Número de produtos à venda: 
                                  <h:outputLabel value="#{dadosEstatisticos.artigosEmVenda}"></h:outputLabel>
                              </p>
                              <p>Número de produtos vendidos: 
                                  <h:outputLabel value="#{dadosEstatisticos.artigosVendidos}"></h:outputLabel>
                              </p>
                            </div>

                      </div>
                    </div>

                    <div class="col-md-3 col-sm-6">                
                      <div class="about-us-col">
                            <div class="col-icon-wrapper">
                              <img src="../assets/images/icons/vendas.jpg" alt=""/>
                            </div>
                            <h3 class="col-title">Vendas realizadas</h3>
                            <div class="col-details">
                              <p>Preço mais alto registado: 
                                  <h:outputLabel value="#{dadosEstatisticos.precoMaisAlto}"></h:outputLabel>
                              </p>
                              <p>Preço médio de vendas: 
                                  <h:outputLabel value="#{dadosEstatisticos.precoMedio}"></h:outputLabel>
                              </p>
                            </div>

                      </div>                
                    </div>               
                </div>
            </div>
        </div> <!-- /.about-us -->

        <div class="section-home home-reasons">
            <div class="container">
                <div class="row">             
                    <div class="col-md-6">
                        <div class="reasons-col animate-onscroll fadeIn">
                            <img src="../assets/images/destaque.jpg" alt=""/>
                            <div class="reasons-titles">
                                <h3 class="reasons-title">Leilões em Destaque</h3>
                                <h5 class="reason-subtitle"> <a href="../Guest/LeiloesGuest.xhtml">Clique aqui </a> para ver os Leilões mais disputados</h5>
                            </div>
                        </div>                
                    </div>

                    <div class="col-md-6">
                        <div class="reasons-col animate-onscroll fadeIn">
                            <img src="../assets/images/recente.jpg" alt=""/>
                            <div class="reasons-titles">
                                <h3 class="reasons-title">Leilões mais recentes</h3>
                                <h5 class="reason-subtitle"><a href="../Guest/LeiloesGuest.xhtml">Clique aqui </a> para ver os leiloes mais recentes</h5>
                            </div>
                        </div>                
                    </div>
                </div>
            </div>
        </div> <!-- /.home-reasons -->
    </h:panelGroup>
    
    <h:form id="myForm">
        <h:commandButton id="btnLoadData" value="Hidden" action="#{dadosEstatisticos.updateDadosEstatisticos()}"
            style="display:none">
            <f:ajax execute="@form" render=":divData" />
        </h:commandButton>

    </h:form>
    </ui:composition>
</html>
