<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
         xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    
    
     <ui:composition>
        #{utilizadorController.loadSessionUser()}
        
        <h:outputLabel class="col-md-4 control-label" value=" Bem-Vindo: #{utilizadorController.selected.username}"></h:outputLabel>         
           <h:form class="well form-horizontal" id="contact_form" style="align-content: center">
                <fieldset>
                    <legend>O seu perfil</legend>
                <h:panelGrid columns="2">
                    <h:outputLabel value="Tipo de Utilizador: "></h:outputLabel>
                    <h:outputLabel value=" Administrador "></h:outputLabel>
                    <h:outputLabel value="#{bundle.EditUtilizadorLabel_nome}" for="nome" />
                    <h:outputLabel id="nome" value="#{utilizadorController.selected.nome}" />
                    <h:outputLabel value="#{bundle.EditUtilizadorLabel_email}" for="email" />
                    <h:outputLabel id="email" value="#{utilizadorController.selected.email}" title="#{bundle.EditUtilizadorTitle_email}" />               
                    <h:outputLabel value="#{bundle.EditUtilizadorLabel_dataNascimento}" for="dataNascimento" />
                    <h:outputLabel id="dataNascimento" value="#{utilizadorController.selected.dataNascimento}"  />              
                    <h:outputLabel value="#{bundle.EditUtilizadorLabel_morada}" for="morada" />
                    <h:outputLabel id="morada" value="#{utilizadorController.selected.morada}" />
                    <h:outputLabel value="#{bundle.EditUtilizadorLabel_nacionalidade}" for="nacionalidade" />
                    <h:outputLabel id="nacionalidade" value="#{utilizadorController.selected.nacionalidade}"  />
                    <h:outputLabel value="#{bundle.EditUtilizadorLabel_contacto}" for="contacto" />
                    <h:outputLabel id="contacto" value="#{utilizadorController.selected.contacto}"  />
                    <h:outputLabel value="NIF" for="nif" />
                    <h:outputLabel id="NIF" value="#{utilizadorController.selected.nif}"  />
                    <h:outputLabel value="BI" for="bi" />
                    <h:outputLabel id="BI" value="#{utilizadorController.selected.bi}"  />
                    <h:outputLabel value="Password" for="password" />
                    <h:outputLabel id="password" value="#{utilizadorController.selected.password}"  />
                    <h:outputLabel value="username" for="username" />
                    <h:outputLabel id="username" value="#{utilizadorController.selected.username}"  />
                    
                    
                </h:panelGrid>
                    <h:button value="Editar Perfil" class="btn btn-warning" outcome="EditaPerfilAdministrator.xhtml" />
                
            </fieldset>
            </h:form>
   
 
   

        
    </ui:composition>
    
   
    
    
    
    
</html>
