<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
          xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
   
    <ui:composition>
    <footer class="main-footer">

        <div class="footer-main">
            <div class="container">
                
                <div class="row">
                    <div class="col-md-4">
                        <div class="footer-col">
                            <h4 class="footer-title">Sobre Nós <span class="title-under"></span></h4>
                            <div class="footer-content">
                                <p>
                                    <strong>ISEC Leilões</strong> é um website que tem como objetivo a venda de artigos por leilão 
                                </p> 
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="container text-right">
                ISEC Leilões @ copyrights 2016 - by <a href="http://www.isec.pt" target="_blank">João Simões e Daniel Margarido</a>
            </div>
        </div>
        
    </footer> <!-- main-footer -->

    <!--  Scripts
    ================================================== -->

    <!-- jQuery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <!-- Bootsrap javascript file -->
    <script src="../assets/js/bootstrap.min.js"></script>
    
    <!-- owl carouseljavascript file -->
    <script src="../assets/js/owl.carousel.min.js"></script>

    <!-- Template main javascript -->
    <script src="../assets/js/main.js"></script>
   
    
    </ui:composition>
    
</html>
