<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    
    
    <ui:composition>
     <ul class="nav navbar-nav">

                    <li><a class="is-active" href="HomeGuest.xhtml">HOME</a></li>
                    <li><a href="../Guest/LeiloesGuest.xhtml">LEILÕES</a></li>
                    <!--<li class="has-child"><a href="#">CAUSES</a>
                      <ul class="submenu">
                         <li class="submenu-item"><a href="causes.html">Causes list </a></li>
                         <li class="submenu-item"><a href="causes-single.html">Single cause </a></li>
                         <li class="submenu-item"><a href="causes-single.html">Single cause </a></li>
                         <li class="submenu-item"><a href="causes-single.html">Single cause </a></li>
                      </ul>
                    </li>-->
                    <li><a href="../Guest/LoginGuest.xhtml">LOGIN</a></li>
                    <li><a href="../Guest/Registo.xhtml">REGISTO</a></li>
      </ul>
    </ui:composition>
    
    
</html>
