<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
      
      
       <ui:composition>
                    <f:event type="preRenderView" listener="#{login.isLogado()}"/>
                    <f:event type="preRenderView" listener="#{login.checkAdminPagePermission()}"/>
     <ul class="nav navbar-nav">

                    <li><a class="is-active" href="../Administrator/HomeAdministrator.xhtml">PERFIL</a>
                    <ul class="submenu">
                         <li class="submenu-item"><a href="../Administrator/HomeAdministrator.xhtml">VER PERFIL</a></li>
                         <li class="submenu-item"><a href="../Administrator/EditaPerfilAdministrator.xhtml">EDITAR PERFIL</a></li>
                      </ul>
                    </li>
                    
                    <li><a href="../Administrator/Categorias.xhtml" class="has-child">CATEGORIAS</a>
                     <ul class="submenu">
                         <li class="submenu-item"><a href="../Administrator/Categorias.xhtml">VER CATEGORIAS</a></li>
                         <li class="submenu-item"><a href="../Administrator/EditaCategorias.xhtml">EDITAR CATEGORIAS</a></li>
                         <li class="submenu-item"><a href="../Administrator/AdicionaCategorias.xhtml">ADICIONAR CATEGORIAS</a></li>
                      </ul>
                    </li>
                    <li class="has-child"><a href="../Administrator/LeiloesAdministrador.xhtml">LEILÕES</a></li>
                    <li class="has-child"><a href="../Administrator/AlertasAdministrator.xhtml">ALERTAS</a>
                      <ul class="submenu">
                         <li class="submenu-item"><a href="../Administrator/Denuncias.xhtml">DENUNCIAS</a></li>                       
                         <li class="submenu-item"><a href="../Administrator/AtivacoesConta.xhtml">ATIVAÇÕES DE CONTA</a></li>
                         <li class="submenu-item"><a href="../Administrator/ReativacoesConta.xhtml">REATIVAÇÕES DE CONTA</a></li> 
                      </ul>
                    </li>
                    <li><a href="../Administrator/Estatisticas.xhtml">ESTATISTICAS</a></li>
                    <li><a href="../Administrator/Historico.xhtml">HISTORICO</a></li>
                    <li><a href="../Administrator/SistemaUtilizadores.xhtml">UTILIZADORES</a></li>
                    <li><a href="../Administrator/Hora.xhtml">HORA</a></li>
                    <li><a href="../Administrator/logout.xhtml">LOGOUT</a></li>
      </ul>
    </ui:composition>
      
   
</html>
