<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditPropostaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditPropostaLabel_id}" for="id" />
                    <h:inputText id="id" value="#{propostaController.selected.id}" title="#{bundle.EditPropostaTitle_id}" required="true" requiredMessage="#{bundle.EditPropostaRequiredMessage_id}"/>
                    <h:outputLabel value="#{bundle.EditPropostaLabel_valor}" for="valor" />
                    <h:inputText id="valor" value="#{propostaController.selected.valor}" title="#{bundle.EditPropostaTitle_valor}" required="true" requiredMessage="#{bundle.EditPropostaRequiredMessage_valor}"/>
                    <h:outputLabel value="#{bundle.EditPropostaLabel_dataProposta}" for="dataProposta" />
                    <h:inputText id="dataProposta" value="#{propostaController.selected.dataProposta}" title="#{bundle.EditPropostaTitle_dataProposta}" >
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.EditPropostaLabel_estado}" for="estado" />
                    <h:inputText id="estado" value="#{propostaController.selected.estado}" title="#{bundle.EditPropostaTitle_estado}" />
                    <h:outputLabel value="#{bundle.EditPropostaLabel_pontuacaoCompra}" for="pontuacaoCompra" />
                    <h:inputText id="pontuacaoCompra" value="#{propostaController.selected.pontuacaoCompra}" title="#{bundle.EditPropostaTitle_pontuacaoCompra}" />
                    <h:outputLabel value="#{bundle.EditPropostaLabel_pagamentoValido}" for="pagamentoValido" />
                    <h:inputText id="pagamentoValido" value="#{propostaController.selected.pagamentoValido}" title="#{bundle.EditPropostaTitle_pagamentoValido}" />
                    <h:outputLabel value="#{bundle.EditPropostaLabel_leilao}" for="leilao" />
                    <h:selectOneMenu id="leilao" value="#{propostaController.selected.leilao}" title="#{bundle.EditPropostaTitle_leilao}" required="true" requiredMessage="#{bundle.EditPropostaRequiredMessage_leilao}">
                        <f:selectItems value="#{leilaoController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.EditPropostaLabel_comprador}" for="comprador" />
                    <h:selectOneMenu id="comprador" value="#{propostaController.selected.comprador}" title="#{bundle.EditPropostaTitle_comprador}" required="true" requiredMessage="#{bundle.EditPropostaRequiredMessage_comprador}">
                        <f:selectItems value="#{utilizadorController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{propostaController.update}" value="#{bundle.EditPropostaSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditPropostaViewLink}"/>
                <br />
                <h:commandLink action="#{propostaController.prepareList}" value="#{bundle.EditPropostaShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditPropostaIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
