<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListPropostaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListPropostaEmpty}" rendered="#{propostaController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{propostaController.items.rowCount > 0}">
                    <h:outputText value="#{propostaController.pagination.pageFirstItem + 1}..#{propostaController.pagination.pageLastItem + 1}/#{propostaController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{propostaController.previous}" value="#{bundle.Previous} #{propostaController.pagination.pageSize}" rendered="#{propostaController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{propostaController.next}" value="#{bundle.Next} #{propostaController.pagination.pageSize}" rendered="#{propostaController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{propostaController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPropostaTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPropostaTitle_valor}"/>
                            </f:facet>
                            <h:outputText value="#{item.valor}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPropostaTitle_dataProposta}"/>
                            </f:facet>
                            <h:outputText value="#{item.dataProposta}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPropostaTitle_estado}"/>
                            </f:facet>
                            <h:outputText value="#{item.estado}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPropostaTitle_pontuacaoCompra}"/>
                            </f:facet>
                            <h:outputText value="#{item.pontuacaoCompra}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPropostaTitle_pagamentoValido}"/>
                            </f:facet>
                            <h:outputText value="#{item.pagamentoValido}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPropostaTitle_leilao}"/>
                            </f:facet>
                            <h:outputText value="#{item.leilao}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPropostaTitle_comprador}"/>
                            </f:facet>
                            <h:outputText value="#{item.comprador}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{propostaController.prepareView}" value="#{bundle.ListPropostaViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{propostaController.prepareEdit}" value="#{bundle.ListPropostaEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{propostaController.destroy}" value="#{bundle.ListPropostaDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{propostaController.prepareCreate}" value="#{bundle.ListPropostaCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListPropostaIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
