<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewPropostaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewPropostaLabel_id}"/>
                    <h:outputText value="#{propostaController.selected.id}" title="#{bundle.ViewPropostaTitle_id}"/>
                    <h:outputText value="#{bundle.ViewPropostaLabel_valor}"/>
                    <h:outputText value="#{propostaController.selected.valor}" title="#{bundle.ViewPropostaTitle_valor}"/>
                    <h:outputText value="#{bundle.ViewPropostaLabel_dataProposta}"/>
                    <h:outputText value="#{propostaController.selected.dataProposta}" title="#{bundle.ViewPropostaTitle_dataProposta}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewPropostaLabel_estado}"/>
                    <h:outputText value="#{propostaController.selected.estado}" title="#{bundle.ViewPropostaTitle_estado}"/>
                    <h:outputText value="#{bundle.ViewPropostaLabel_pontuacaoCompra}"/>
                    <h:outputText value="#{propostaController.selected.pontuacaoCompra}" title="#{bundle.ViewPropostaTitle_pontuacaoCompra}"/>
                    <h:outputText value="#{bundle.ViewPropostaLabel_pagamentoValido}"/>
                    <h:outputText value="#{propostaController.selected.pagamentoValido}" title="#{bundle.ViewPropostaTitle_pagamentoValido}"/>
                    <h:outputText value="#{bundle.ViewPropostaLabel_leilao}"/>
                    <h:outputText value="#{propostaController.selected.leilao}" title="#{bundle.ViewPropostaTitle_leilao}"/>
                    <h:outputText value="#{bundle.ViewPropostaLabel_comprador}"/>
                    <h:outputText value="#{propostaController.selected.comprador}" title="#{bundle.ViewPropostaTitle_comprador}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{propostaController.destroyAndView}" value="#{bundle.ViewPropostaDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewPropostaEditLink}"/>
                <br />
                <h:commandLink action="#{propostaController.prepareCreate}" value="#{bundle.ViewPropostaCreateLink}" />
                <br />
                <h:commandLink action="#{propostaController.prepareList}" value="#{bundle.ViewPropostaShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewPropostaIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
