<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
       xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    
    
     <ui:composition template="HomeAdministrator.xhtml">
        
        
         <ui:define name="HeaderAdministrator">
             <f:event type="preRenderView" listener="#{login.isLogado()}"/>
             <f:event type="preRenderView" listener="#{login.checkAdminPagePermission()}"/>
            <ul class="nav navbar-nav">

                    <li><a href="HomeAdministrator.xhtml">PERFIL</a>
                    <ul class="submenu">
                         <li class="submenu-item"><a href="HomeAdministrator.xhtml">VER PERFIL</a></li>
                         <li class="submenu-item"><a href="EditaPerfilAdministrator.xhtml">EDITAR PERFIL</a></li>
                      </ul>
                    </li>
                    <li><a href="Categorias.xhtml" class="has-child is-active">CATEGORIAS</a>
                     <ul class="submenu">
                         <li class="submenu-item"><a href="Categorias.xhtml">VER CATEGORIAS</a></li>
                         <li class="submenu-item"><a href="EditaCategorias.xhtml">EDITAR CATEGORIAS</a></li>
                         <li class="submenu-item"><a href="AdicionaCategorias.xhtml">ADICIONAR CATEGORIAS</a></li>
                      </ul>
                    </li>
                    <li class="has-child"><a href="LeiloesAdministrador.xhtml">LEILÕES</a></li>
                    <li class="has-child"><a href="AlertasAdministrator.xhtml"  >ALERTAS</a>
                      <ul class="submenu">
                         <li class="submenu-item"><a href="Denuncias.xhtml">DENUNCIAS</a></li>                       
                         <li class="submenu-item"><a href="AtivacoesConta.xhtml">ATIVAÇÕES DE CONTA</a></li>
                         <li class="submenu-item "><a href="ReativacoesConta.xhtml">REATIVAÇÕES DE CONTA</a></li> 
                      </ul>
                    </li>
                    <li><a href="Estatisticas.xhtml">ESTATISTICAS</a></li>
                    <li><a href="Historico.xhtml">HISTORICO</a></li>
                    <li><a href="SistemaUtilizadores.xhtml">UTILIZADORES</a></li>
                    <li><a href="logout.xhtml">LOGOUT</a></li>
      </ul>
            
            
        </ui:define>
          
         <ui:define name="BaseAdministrator">
            
             <h:form class="well form-horizontal" id="contact_form" style="align-content: center">
                 <legend> Categorias </legend>
                 <h:outputText value="Não existem categorias disponiveis !" rendered="#{categoriaController.items.rowCount==0}" ></h:outputText>
                 <fieldset>
             
              <h:dataTable rendered="#{categoriaController.items.rowCount>0}" value="#{categoriaController.items}" var="item" border="5" cellpadding="5" cellspacing="2" >
		
                         <h:column id="coluna1"  >
			<f:facet name="header" >
				<h:outputText value="ID da Categoria"  ></h:outputText>
			</f:facet>
                             <h:outputText value="#{item.id}"/>                     
                        </h:column >
        
                                         <h:column id="coluna3"  >
			<f:facet name="header" >
				<h:outputText value="Descrição"  ></h:outputText>
			</f:facet>
                             <h:outputText value="#{item.descricao}"/>                     
                        </h:column >
                        
                 
    
              </h:dataTable>
                 </fieldset>
                 
             </h:form>
            
        </ui:define>
        
        
    <ui:define name="FooterContentGuest">
         
        
    </ui:define>
        
        
        
    </ui:composition>
    
    
    
    
    
</html>
