<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
         xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    
    
    <ui:composition template="HomeAdministrator.xhtml">
        
        
        
         <ui:define name="HeaderAdministrator">
         <f:event type="preRenderView" listener="#{login.isLogado()}"/>
            <f:event type="preRenderView" listener="#{login.checkAdminPagePermission()}"/>
         
            <ul class="nav navbar-nav">

                    <li><a href="HomeAdministrator.xhtml">PERFIL</a>
                    <ul class="submenu">
                         <li class="submenu-item"><a href="HomeAdministrator.xhtml">VER PERFIL</a></li>
                         <li class="submenu-item"><a href="EditaPerfilAdministrator.xhtml">EDITAR PERFIL</a></li>
                      </ul>
                    </li>
                    <li><a href="Categorias.xhtml" class="has-child">CATEGORIAS</a>
                     <ul class="submenu">
                         <li class="submenu-item"><a href="Categorias.xhtml">VER CATEGORIAS</a></li>
                         <li class="submenu-item"><a href="EditaCategorias.xhtml">EDITAR CATEGORIAS</a></li>
                         <li class="submenu-item"><a href="AdicionaCategorias.xhtml">ADICIONAR CATEGORIAS</a></li>
                      </ul>
                    </li>
                    <li class="has-child"><a href="LeiloesAdministrador.xhtml">LEILÕES</a></li>
                    <li class="has-child"><a href="AlertasAdministrator.xhtml"  >ALERTAS</a>
                      <ul class="submenu">
                         <li class="submenu-item  is-active"><a href="Denuncias.xhtml">DENUNCIAS</a></li>                       
                         <li class="submenu-item"><a href="AtivacoesConta.xhtml">ATIVAÇÕES DE CONTA</a></li>
                         <li class="submenu-item "><a href="ReativacoesConta.xhtml">REATIVAÇÕES DE CONTA</a></li> 
                      </ul>
                    </li>
                    <li><a href="Estatisticas.xhtml">ESTATISTICAS</a></li>
                    <li><a href="Historico.xhtml">HISTORICO</a></li>
                    <li><a href="SistemaUtilizadores.xhtml">UTILIZADORES</a></li>
                    <li><a href="logout.xhtml">LOGOUT</a></li>
      </ul>
            
         
         
         </ui:define>
          
        
        
         <ui:define name="BaseAdministrator">
            
             <h:form>
                 <legend> ISEC Leilões: Denuncias Efetuadas</legend>
                 <h:outputText value=" Neste momento não existem denuncias efetuadas!" rendered="#{denunciasController.items.rowCount==0}" ></h:outputText>
                 <fieldset>
                     
                     <h:panelGrid columns="2" rendered="#{denunciasController.items.rowCount > 0}">
                    <h:outputLabel value="#{bundle.ListDenunciasTitle_id}" for="id" />
                    <h:outputLabel id="nome" value="#{denunciasController.selected.id}" />
                    <h:outputLabel value="#{bundle.ListDenunciasTitle_titulo}" for="denunciador" />
                    <h:outputLabel id="email" value="#{denunciasController.selected.denunciador}" />               
                    <h:outputLabel value="#{bundle.ListDenunciasTitle_leilao}" for="leilao" />
                    <h:outputLabel id="dataNascimento" value="#{denunciasController.selected.leilao}"  />              
                    <h:outputLabel value="#{bundle.ListDenunciasTitle_titulo}" for="titulo" />
                    <h:outputLabel id="morada" value="#{denunciasController.selected.titulo}" />
                    <h:outputLabel value="#{bundle.ListDenunciasTitle_descricao}" for="descricao" />
                    <h:outputLabel id="nacionalidade" value="#{denunciasController.selected.descricao}"  />
                    <h:outputLabel value="#{bundle.ListDenunciasTitle_dataDenuncia}" for="data_denuncia" />
                    <h:outputLabel id="contacto" value="#{denunciasController.selected.dataDenuncia}"  />
                </h:panelGrid>    
                     
                     
                    
                     
                     
                 </fieldset>
                 
                 
             </h:form>
    
    </ui:define>
    
    
    
    <ui:define name="FooterContentGuest">
        
        
        
        
        
    </ui:define>
        
    </ui:composition>
    
    
    
    
    
   
    
    
    
    
    
</html>
