<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html class="no-js"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <head>
        
        <meta charset="utf-8"></meta>
        <title>ISEC Leilões</title>
        <meta name="description" content=""></meta>
            <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
        <!-- Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'/>
        <link href='http://fonts.googleapis.com/css?family=Dosis:400,700' rel='stylesheet' type='text/css'/>

        <!-- Bootsrap -->
        <link rel="stylesheet" href="../assets/css/bootstrap.min.css"/>

        <!-- Font awesome -->
        <link rel="stylesheet" href="../assets/css/font-awesome.min.css"/>

        <!-- Owl carousel -->
        <link rel="stylesheet" href="../assets/css/owl.carousel.css"/>

        <!-- Template main Css -->
        <link rel="stylesheet" href="../assets/css/style.css"/>
        
        <!-- Modernizr -->
        <script src="../assets/js/modernizr-2.6.2.min.js"></script>
       
    </head>

    <body>


    <header class="main-header">
        
        <nav class="navbar navbar-static-top">

            <div class="navbar-top">

              <div class="container">
                  <div class="row">

                    <div class="col-sm-6 col-xs-12">

                        <ul class="list-unstyled list-inline header-contact">
                            <li> <i class="fa fa-phone"></i> <a href="tel:">919999999 </a> </li>
                             <li> <i class="fa fa-envelope"></i> <a href="mailto:leiloes@isec.pt">leiloes@isec.pt</a> </li>
                       </ul> <!-- /.header-contact  -->
                      
                    </div>

                    <div class="col-sm-6 col-xs-12 text-right">

                        <ul class="list-unstyled list-inline header-social">

                            <li> <a href="http://www.facebook.com"> <i class="fa fa-facebook"></i> </a> </li>                       
                            <li> <a href="http://www.google.pt"> <i class="fa fa-google"></i>  </a> </li>
                            <li> <a href="http://www.youtube.com"> <i class="fa fa-youtube"></i>  </a> </li>
                            
                       </ul> <!-- /.header-social  -->
                      
                    </div>


                  </div>
              </div>

            </div>

           
<div class="navbar-main">
              
              <div class="container">

                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">

                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>

                  </button>
                  
                    <a class="navbar-brand" href="http://www.isec.pt"><img src="../assets/images/isec.png" alt="" width="175px" height="70px" style="margin-top:-20px;"/></a>
                  
                </div>
                <div id="navbar" class="navbar-collapse collapse pull-right">
                     <ui:insert name="HeaderAdministrator" >
                        <ui:include src="../templates/HeadContentAdministrator.xhtml" />
                     </ui:insert> 
                
                </div> <!-- /#navbar -->
              </div> <!-- /.container -->           
            </div> <!-- /.navbar-main -->
     
                  
        </nav> 
    </header> <!-- /. main-header -->

        <ui:insert name="BaseAdministrator" >
                <ui:include src="../templates/BaseContentAdministrator.xhtml" />
        </ui:insert>
    
      

    </body>
</html>
