<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <ui:composition template="HomeAdministrator.xhtml">  
        
        <ui:define name="HeadContentAdministrator">
             <f:event type="preRenderView" listener="#{login.isLogado()}"/>
             <f:event type="preRenderView" listener="#{login.checkAdminPagePermission()}"/>
            <ul class="nav navbar-nav">

                    <li><a href="HomeAdministrator.xhtml">PERFIL</a>
                    <ul class="submenu">
                         <li class="submenu-item"><a href="HomeAdministrator.xhtml">VER PERFIL</a></li>
                         <li class="submenu-item"><a href="EditaPerfilAdministrator.xhtml">EDITAR PERFIL</a></li>
                      </ul>
                    </li>
                    <li><a href="Categorias.xhtml" class="has-child">CATEGORIAS</a>
                     <ul class="submenu">
                         <li class="submenu-item"><a href="Categorias.xhtml">VER CATEGORIAS</a></li>
                         <li class="submenu-item"><a href="EditaCategorias.xhtml">EDITAR CATEGORIAS</a></li>
                         <li class="submenu-item"><a href="AdicionaCategorias.xhtml">ADICIONAR CATEGORIAS</a></li>
                      </ul>
                    </li>
                    <li class="has-child"><a href="LeiloesAdministrador.xhtml">LEILÕES</a></li>
                    <li class="has-child "><a href="AlertasAdministrator.xhtml"  >ALERTAS</a>
                      <ul class="submenu">
                         <li class="submenu-item"><a href="Denuncias.xhtml">DENUNCIAS</a></li>                       
                         <li class="submenu-item"><a href="AtivacoesConta.xhtml">ATIVAÇÕES DE CONTA</a></li>
                         <li class="submenu-item "><a href="ReativacoesConta.xhtml">REATIVAÇÕES DE CONTA</a></li> 
                      </ul>
                    </li>
                    <li><a href="Estatisticas.xhtml">ESTATISTICAS</a></li>
                    <li><a href="Historico.xhtml">HISTORICO</a></li>
                    <li><a href="SistemaUtilizadores.xhtml">UTILIZADORES</a></li>
                    <li class="is-active"><a href="Hora.xhtml">HORA</a></li>
                    <li><a href="logout.xhtml">LOGOUT</a></li>
      </ul>
            
            
        </ui:define>
        
        
        <ui:define name="BaseAdministrator">
        
            <h:form>
                <div class="container">
                    <legend> ISEC Leilões: Mudar Data/Hora de Aplicação</legend>
                    <table>
                        <tbody>
                            <tr>
                                <td><h:outputLabel value="Data/Hora do Servidor:"></h:outputLabel></td>
                                <td><h:outputText value="#{leilaoController.serverDatetime}"></h:outputText></td>
                            </tr>
                            <tr>
                                <td><h:outputLabel value="Data/Hora da Aplicação:"></h:outputLabel></td>
                                <td><h:outputText value="#{leilaoController.currentDatetime}"></h:outputText></td>
                            </tr>
                            <tr>
                                <td><h:outputLabel value="Nova Data/Hora (dd/MM/yyyy hh:mm:ss):"></h:outputLabel></td>
                                <td><h:inputText value="#{leilaoController.newApplicationDatetime}">
                                        <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" />
                                    </h:inputText>
                                </td>
                            </tr>
                            <tr>
                                <td><h:commandButton value="Submeter" action="#{leilaoController.changeServerDatetime()}"></h:commandButton></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </h:form>
            
        </ui:define>    
        
        
    </ui:composition>
    
      
      
      
      
    
</html>
