<?xml version="1.0" encoding="UTF-8"?>

<!--

-To change this license header, choose License Headers in Project Properties.

-To change this template file, choose Tools | Templates

-and open the template in the editor.

-->

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

 <ui:composition template="HomeAdministrator.xhtml">
        
        
         <ui:define name="HeaderAdministrator">
             <f:event type="preRenderView" listener="#{login.isLogado()}"/>
             <f:event type="preRenderView" listener="#{login.checkAdminPagePermission()}"/>
            <ul class="nav navbar-nav">

                    <li><a href="HomeAdministrator.xhtml">PERFIL</a>
                    <ul class="submenu">
                         <li class="submenu-item"><a href="HomeAdministrator.xhtml">VER PERFIL</a></li>
                         <li class="submenu-item"><a href="EditaPerfilAdministrator.xhtml">EDITAR PERFIL</a></li>
                      </ul>
                    </li>
                    <li><a href="Categorias.xhtml" class="has-child">CATEGORIAS</a>
                     <ul class="submenu">
                         <li class="submenu-item"><a href="Categorias.xhtml">VER CATEGORIAS</a></li>
                         <li class="submenu-item"><a href="EditaCategorias.xhtml">EDITAR CATEGORIAS</a></li>
                         <li class="submenu-item"><a href="AdicionaCategorias.xhtml">ADICIONAR CATEGORIAS</a></li>
                      </ul>
                    </li>
                    <li class="has-child is-active"><a href="LeiloesAdministrador.xhtml">LEILÕES</a></li>
                    <li class="has-child"><a href="AlertasAdministrator.xhtml"  >ALERTAS</a>
                      <ul class="submenu">
                         <li class="submenu-item"><a href="Denuncias.xhtml">DENUNCIAS</a></li>                       
                         <li class="submenu-item"><a href="AtivacoesConta.xhtml">ATIVAÇÕES DE CONTA</a></li>
                         <li class="submenu-item "><a href="ReativacoesConta.xhtml">REATIVAÇÕES DE CONTA</a></li> 
                      </ul>
                    </li>
                    <li><a href="Estatisticas.xhtml">ESTATISTICAS</a></li>
                    <li><a href="Historico.xhtml">HISTORICO</a></li>
                    <li><a href="SistemaUtilizadores.xhtml">UTILIZADORES</a></li>
                    <li><a href="logout.xhtml">LOGOUT</a></li>
      </ul>
            
            
        </ui:define>
    
    <ui:define name="BaseAdministrator">

        <h:form class="well form-horizontal col-md-offset-2 col-md-8" id="contact_form">

            <label style="font-size: 200%;">Leilões a decorrer</label>

            

             <br/>

            <h:outputLabel value="Neste momento não existem leilões a decorrer!" rendered="#{leilaoController.getLeiloesActivos().size()==0}"></h:outputLabel>

          

            <h:dataTable class="table" rendered="#{leilaoController.getLeiloesActivos().size()>0}" value="#{leilaoController.getLeiloesActivos()}"  var="leilao" >

               

                <h:column>

                    <f:facet name="header">Nome Produto</f:facet>

                    <h:outputLabel value="#{leilao.nomeProduto}"></h:outputLabel>

                </h:column>

                <h:column>

                    <f:facet name="header">Descrição</f:facet>

                    <h:outputLabel value="#{leilao.descricaoProduto}"></h:outputLabel>

                </h:column>

                <h:column>

                    <f:facet name="header">Valor Minimo</f:facet>

                    <h:outputLabel value="#{leilao.valorMinimo}"></h:outputLabel>

                </h:column>

                <h:column>

                    <f:facet name="header">Valor Actual</f:facet>

                    <h:outputLabel value="#{leilao.valor}"></h:outputLabel>

                </h:column>

                <h:column>

                    <f:facet name="header">Data de Fim</f:facet>

                    <h:outputLabel value="#{leilao.dataFim}"></h:outputLabel>

                </h:column>
                
                <h:column >

                    <f:facet name="header">Estado do leilao</f:facet>
                            <h:commandButton value="Cancelar Leilão" action="#{leilaoController.CancelaLeilao}" >
                                <f:param name="idCancelaLeilao" value="#{leilao.id}"/>
                             </h:commandButton>
                   
                </h:column>
                
                

            </h:dataTable>

        </h:form>

        

    </ui:define>  

    

    

    

    </ui:composition>

</html>