<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
     xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"> 
   <ui:composition template="HomeAdministrator.xhtml">  
       <ui:define name="HeaderAdministrator"></ui:define>
         <ui:define name="BaseAdministrator">                        
            <f:event type="preRenderView" listener="#{login.logout}"/>
         </ui:define>
   </ui:composition>
    
    
    
</html>
