<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
             xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
      
      
    <ui:composition template="HomeAdministrator.xhtml">
        
        
        <ui:define name="HeaderAdministrator">
             <f:event type="preRenderView" listener="#{login.isLogado()}"/>
             <f:event type="preRenderView" listener="#{login.checkAdminPagePermission()}"/>
             <ul class="nav navbar-nav">

                    <li><a href="HomeAdministrator.xhtml">PERFIL</a>
                    <ul class="submenu">
                         <li class="submenu-item"><a href="HomeAdministrator.xhtml">VER PERFIL</a></li>
                         <li class="submenu-item"><a href="EditaPerfilAdministrator.xhtml">EDITAR PERFIL</a></li>
                      </ul>
                    </li>
                    <li><a href="Categorias.xhtml" class="has-child">CATEGORIAS</a>
                     <ul class="submenu">
                         <li class="submenu-item"><a href="Categorias.xhtml">VER CATEGORIAS</a></li>
                         <li class="submenu-item"><a href="EditaCategorias.xhtml">EDITAR CATEGORIAS</a></li>
                         <li class="submenu-item"><a href="AdicionaCategorias.xhtml">ADICIONAR CATEGORIAS</a></li>
                      </ul>
                    </li>
                    <li class="has-child"><a href="LeiloesAdministrador.xhtml">LEILÕES</a></li>
                    <li class="has-child is-active"><a href="AlertasAdministrator.xhtml"  >ALERTAS</a>
                      <ul class="submenu">
                         <li class="submenu-item  is-active"><a href="Denuncias.xhtml">DENUNCIAS</a></li>                       
                         <li class="submenu-item"><a href="AtivacoesConta.xhtml">ATIVAÇÕES DE CONTA</a></li>
                         <li class="submenu-item "><a href="ReativacoesConta.xhtml">REATIVAÇÕES DE CONTA</a></li> 
                      </ul>
                    </li>
                    <li><a href="Estatisticas.xhtml">ESTATISTICAS</a></li>
                    <li><a href="Historico.xhtml">HISTORICO</a></li>
                    <li><a href="SistemaUtilizadores.xhtml">UTILIZADORES</a></li>
                    <li><a href="logout.xhtml">LOGOUT</a></li>
      </ul>
            
            
        </ui:define>
        
        
        <ui:define name="BaseAdministrator">
            
             <h:form>
                 <legend> ISEC Leilões: Pedidos de Reativação de Conta</legend>
                 <h:outputText value="Não existem utilizadores ativos!" rendered="#{utilizadorController.items.rowCount==0}" ></h:outputText>
                 <fieldset>
             
              <h:dataTable rendered="#{utilizadorController.items.rowCount>0}" value="#{utilizadorController.items}" var="item" border="5" cellpadding="5" cellspacing="2" >
		
                         <h:column id="coluna1"  >
			<f:facet name="header" >
				<h:outputText value="Username"  ></h:outputText>
			</f:facet>
                             <h:outputText value="#{item.username}"  rendered="#{item.contaActiva == 2}"/>                     
                         </h:column >
                        <h:column id="coluna2"  >
			<f:facet name="header" >
				<h:outputText value="Password" ></h:outputText>
			</f:facet>
                             <h:outputText value="#{item.password}"  rendered="#{item.contaActiva == 2}"/>
                        
                        </h:column >
                        <h:column id="coluna3"  >
			<f:facet name="header" >
				<h:outputText value="Nome" ></h:outputText>
			</f:facet>
                             <h:outputText value="#{item.nome}"  rendered="#{item.contaActiva == 2}"/>
                        
                        </h:column >
                        <h:column id="coluna4"  >
			<f:facet name="header" >
				<h:outputText value="Data Nascimento" ></h:outputText>
			</f:facet>
                             <h:outputText value="#{item.dataNascimento}"  rendered="#{item.contaActiva == 2}"/>
                        
                        </h:column >
                        
                        <h:column id="coluna5"  >
			<f:facet name="header" >
				<h:outputText value="Morada" ></h:outputText>
			</f:facet>
                             <h:outputText value="#{item.morada}"  rendered="#{item.contaActiva == 2}"/>
                        
                        </h:column >
                        
                        <h:column id="coluna6"  >
			<f:facet name="header" >
				<h:outputText value="Nacionalidade"></h:outputText>
			</f:facet>
                             <h:outputText value="#{item.nacionalidade}"  rendered="#{item.contaActiva == 2}"/>
                        
                        </h:column >
                        
                        <h:column id="coluna7"  >
			<f:facet name="header" >
				<h:outputText value="Contacto" ></h:outputText>
			</f:facet>
                             <h:outputText value="#{item.contacto}"  rendered="#{item.contaActiva == 2}"/>
                        
                        </h:column >
                        
                        <h:column id="coluna8"  >
			<f:facet name="header" >
				<h:outputText value="Data Criação" ></h:outputText>
			</f:facet>
                             <h:outputText value="#{item.dataCriacao}"  rendered="#{item.contaActiva == 2}"/>
                        
                        </h:column >
                         <h:column id="coluna9"  >
			<f:facet name="header" >
				<h:outputText value="Pontuação Comprador" ></h:outputText>
			</f:facet>
                             <h:outputText value="#{item.pontuacaoComprador}"  rendered="#{item.contaActiva ==2}"/>
                        
                        </h:column >
                        
                         <h:column id="coluna10"  >
			<f:facet name="header" >
				<h:outputText value="Pontuação Vendedor" ></h:outputText>
			</f:facet>
                             <h:outputText value="#{item.pontuacaoVendedor}"  rendered="#{item.contaActiva == 2}"/>
                        
                        </h:column >
                        
                        <h:column id="coluna13"  >
			<f:facet name="header" >
				<h:outputText value="BI" ></h:outputText>
			</f:facet>
                             <h:outputText value="#{item.bi}"  rendered="#{item.contaActiva == 2}"/>
                        
                        </h:column >
                        
                        <h:column id="coluna14"  >
			<f:facet name="header" >
				<h:outputText value="NIF" ></h:outputText>
			</f:facet>
                             <h:outputText value="#{item.nif}"  rendered="#{item.contaActiva == 2}"/>
                        
                        </h:column >
                        <h:column id="coluna15"  >
			<f:facet name="header" >
				<h:outputText value="Decisão" ></h:outputText>
			</f:facet>
                                
                            <h:commandButton value="Aceitar" action="#{reativar.SetReativacaoByAdministrator}"  rendered="#{item.contaActiva == 2}">
                            <f:param name="indexUsername" value="#{item.username}"/>
                            </h:commandButton>
                            <h:commandButton value="Recusar" action="#{reativar.RejeitaReativacaoByAdministrator}"  rendered="#{item.contaActiva == 2}">
                             <f:param name="indexUsername2" value="#{item.username}"/>
                             </h:commandButton>
                        </h:column >
                   
                   
              </h:dataTable>
                 </fieldset>
                 
             </h:form>
            
        </ui:define>
        
        
    <ui:define name="FooterContentGuest">
         
    </ui:define>
        
        
    </ui:composition>
   
   
</html>
