<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
       xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
          
  <ui:composition template="HomeGuest.xhtml">
      
       <ui:define name="HeaderGuest">
              <ul class="nav navbar-nav">

                    <li><a href="HomeGuest.xhtml">HOME</a></li>
                    <li><a class="is-active" href="LeiloesGuest.xhtml">LEILÕES</a></li>
                    <!--<li class="has-child"><a href="#">CAUSES</a>
                      <ul class="submenu">
                         <li class="submenu-item"><a href="causes.html">Causes list </a></li>
                         <li class="submenu-item"><a href="causes-single.html">Single cause </a></li>
                         <li class="submenu-item"><a href="causes-single.html">Single cause </a></li>
                         <li class="submenu-item"><a href="causes-single.html">Single cause </a></li>
                      </ul>
                    </li>-->
                    <li><a href="LoginGuest.xhtml">LOGIN</a></li>
                    <li><a href="Registo.xhtml">REGISTO</a></li>
      </ul>
        </ui:define>
      
        <ui:define name="BaseGuest">
        
         <h:form class="well form-horizontal col-md-offset-2 col-md-8" id="contact_form">
             
            <label style="font-size: 200%; ">Leilões a decorrer  </label>
           
                <h:dataTable class="table" value="#{leilaoController.getLeiloesActivos()}" rendered="#{leilaoController.getLeiloesActivos().size() >0}" var="leilao" >
                <h:column>
                    <f:facet name="header">Nome Produto</f:facet>
                    <h:outputLabel value="#{leilao.nomeProduto}"></h:outputLabel>
                </h:column>
                <h:column>
                    <f:facet name="header">Descrição</f:facet>
                    <h:outputLabel value="#{leilao.descricaoProduto}"></h:outputLabel>
                </h:column>
             
                  
            </h:dataTable>
            <br/>
                  <h:outputLabel value="Neste momento não existem leilões a decorrer!" rendered="#{leilaoController.getLeiloesActivos().size()==0}"></h:outputLabel>
          
        </h:form>
        
        </ui:define>
      
      <ui:define name="FooterGuest">
          
      </ui:define>
        
    </ui:composition>
   
    
    
    
</html>
