<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
 
    <ui:composition template="HomeGuest.xhtml">
         <ui:define name="HeaderGuest">
              <ul class="nav navbar-nav">

                    <li><a href="HomeGuest.xhtml">HOME</a></li>
                    <li><a href="LeiloesGuest.xhtml">LEILÕES</a></li>
                    <!--<li class="has-child"><a href="#">CAUSES</a>
                      <ul class="submenu">
                         <li class="submenu-item"><a href="causes.html">Causes list </a></li>
                         <li class="submenu-item"><a href="causes-single.html">Single cause </a></li>
                         <li class="submenu-item"><a href="causes-single.html">Single cause </a></li>
                         <li class="submenu-item"><a href="causes-single.html">Single cause </a></li>
                      </ul>
                    </li>-->
                    <li><a class="is-active" href="LoginGuest.xhtml">LOGIN</a></li>
                    <li><a href="Registo.xhtml">REGISTO</a></li>
      </ul>
        </ui:define>
        
        
        <ui:define name="BaseGuest">
        
            <h:form class="well form-horizontal" id="contact_form">
                <legend>ISEC Leilões: Autenticação </legend>
                <fieldset>
                       
                 <h:panelGroup class="form-group">
                        <h:outputLabel class="col-md-4 control-label">Username</h:outputLabel>
                        <h:panelGroup class="col-md-4 inputGroupContainer">
                            <h:panelGroup class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <h:inputText id="username" class="form-control"  value="#{login.username}"></h:inputText>
                            </h:panelGroup>
                        </h:panelGroup>
                 </h:panelGroup>
                 <h:panelGroup class="form-group">
                        <h:outputLabel class="col-md-4 control-label">Password</h:outputLabel>
                        <h:panelGroup class="col-md-4 inputGroupContainer">
                            <h:panelGroup class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                
                                <h:inputSecret value="#{login.password}" class="form-control"></h:inputSecret>
                            </h:panelGroup>
                        </h:panelGroup>
                 </h:panelGroup>
                    
                  
                     <h:panelGroup class="form-group">      
                         <label class="col-md-4 control-label"></label>
                        <h:panelGroup class="col-md-4">
                            <h:commandButton action="#{login.UserLogin}" class="btn btn-warning"  value="Login"></h:commandButton>                          
                        </h:panelGroup>
                    </h:panelGroup>
                    
                   
                
                            
                    
                </fieldset>
                <fieldset>
                <legend>ISEC Leilões: Reativação de Contas </legend>
                
                 <h:panelGroup class="form-group">      
                         <label class="col-md-4 control-label"></label>
                        <h:panelGroup class="col-md-4">
                             <h:outputLabel class=" control-label">Já teve conta no ISEC Leilões? Preencha o formulário abaixo para reativar a sua conta</h:outputLabel>               
                        </h:panelGroup>
                    </h:panelGroup>
                 <h:panelGroup class="form-group">
                        <h:outputLabel class="col-md-4 control-label">Username</h:outputLabel>
                        <h:panelGroup class="col-md-4 inputGroupContainer">
                            <h:panelGroup class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <h:inputText id="username2" class="form-control"  value="#{reativar.username}"></h:inputText>
                            </h:panelGroup>
                        </h:panelGroup>
                 </h:panelGroup>
                 <h:panelGroup class="form-group">
                        <h:outputLabel class="col-md-4 control-label">Password</h:outputLabel>
                        <h:panelGroup class="col-md-4 inputGroupContainer">
                            <h:panelGroup class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                
                                <h:inputSecret value="#{reativar.password}" class="form-control"></h:inputSecret>
                            </h:panelGroup>
                        </h:panelGroup>
                 </h:panelGroup>
                
                 <h:panelGroup class="form-group">      
                         <label class="col-md-4 control-label"></label>
                        <h:panelGroup class="col-md-4">
                            <h:commandButton action="#{reativar.SetReativacao}" class="btn btn-warning"  value="Reativar"></h:commandButton>                          
                        </h:panelGroup>
                 </h:panelGroup>
                    
                
                </fieldset>
            </h:form>   
        </ui:define>
        
    </ui:composition>
    
    
    
</html>
