<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
         xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough">
    
    <ui:composition template="HomeGuest.xhtml">
        <ui:define name="HeaderGuest">
              <ul class="nav navbar-nav">

                    <li><a href="HomeGuest.xhtml">HOME</a></li>
                    <li><a href="LeiloesGuest.xhtml">LEILÕES</a></li>
                    <!--<li class="has-child"><a href="#">CAUSES</a>
                      <ul class="submenu">
                         <li class="submenu-item"><a href="causes.html">Causes list </a></li>
                         <li class="submenu-item"><a href="causes-single.html">Single cause </a></li>
                         <li class="submenu-item"><a href="causes-single.html">Single cause </a></li>
                         <li class="submenu-item"><a href="causes-single.html">Single cause </a></li>
                      </ul>
                    </li>-->
                    <li><a href="LoginGuest.xhtml">LOGIN</a></li>
                    <li><a class="is-active" href="Registo.xhtml">REGISTO</a></li>
      </ul>
            
            
        </ui:define>
        
        <ui:define name="BaseGuest">
            <h:form class="well form-horizontal" id="contact_form">
                <fieldset>
                    <legend>Registo de Utilizadores: Aqui poderá realizar um pedido de Conta no ISEC Leilões</legend>
                    <h:panelGroup class="form-group">
                        <h:outputLabel class="col-md-4 control-label">Nome</h:outputLabel>
                        <h:panelGroup class="col-md-4 inputGroupContainer">
                            <h:panelGroup class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <h:inputText a:placeholder="Nome" required="true" requiredMessage="Por favor introduza o seu nome" value="#{utilizadorController.selected.nome}" class="form-control" a:type="text"></h:inputText>
                            </h:panelGroup>
                        </h:panelGroup>
                    </h:panelGroup>
                     <h:panelGroup class="form-group">
                        <h:outputLabel class="col-md-4 control-label">Username
                   
                        </h:outputLabel>
                        <h:panelGroup class="col-md-4 inputGroupContainer">
                            <h:panelGroup class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <h:inputText id="username" a:placeholder="Username" required="true" requiredMessage="Por favor introduza o seu username"  value="#{utilizadorController.selected.username}" class="form-control" a:type="text" validator="#{utilizadorController.validatorAvailableUsername}">
                                    <f:ajax event="keyup" execute="@this" render="fooMessage" />
                                </h:inputText>
                            </h:panelGroup>
                        </h:panelGroup>
                         <h:outputText style="margin-top: 10px;" id="fooMessage" value="#{utilizadorController.usernameAlertMessage}" rendered="true"></h:outputText>
                    </h:panelGroup>
                     <h:panelGroup class="form-group">
                        <h:outputLabel class="col-md-4 control-label">Password</h:outputLabel>
                        <h:panelGroup class="col-md-4 inputGroupContainer">
                            <h:panelGroup class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <h:inputText a:placeholder="Password" required="true" requiredMessage="Por favor introduza a sua password"  value="#{utilizadorController.selected.password}" class="form-control" a:type="password">
                                <f:validateLength minimum="5" />
                                </h:inputText>
                            </h:panelGroup>
                        </h:panelGroup>
                    </h:panelGroup>
                    
                      <h:panelGroup class="form-group">
                        <h:outputLabel class="col-md-4 control-label">Email</h:outputLabel>
                        <h:panelGroup class="col-md-4 inputGroupContainer">
                            <h:panelGroup class="input-group">
                               <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                               <h:inputText a:placeholder="Email" required="true" requiredMessage="Por favor introduza o seu email"  value="#{utilizadorController.selected.email}" class="form-control" a:type="text"></h:inputText>
                            </h:panelGroup>
                        </h:panelGroup>
                    </h:panelGroup>
                    
                    <h:panelGroup class="form-group">
                        <h:outputLabel class="col-md-4 control-label">Morada</h:outputLabel>
                        <h:panelGroup class="col-md-4 inputGroupContainer">
                            <h:panelGroup class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                            <h:inputText a:placeholder="Morada" required="true" requiredMessage="Por favor introduza a sua morada" value="#{utilizadorController.selected.morada}" class="form-control" a:type="text"></h:inputText>
                            </h:panelGroup>
                        </h:panelGroup>
                    </h:panelGroup>
                    
                      <h:panelGroup class="form-group">
                        <h:outputLabel class="col-md-4 control-label">Nacionalidade</h:outputLabel>
                        <h:panelGroup class="col-md-4 inputGroupContainer">
                            <h:panelGroup class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                          <h:inputText a:placeholder="País" value="#{utilizadorController.selected.nacionalidade}" requiredMessage="Por favor introduza a sua nacionalidade" required="true"  class="form-control" a:type="text">
                         
                          </h:inputText>
                            </h:panelGroup>
                        </h:panelGroup>
                    </h:panelGroup>
                    
                     <h:panelGroup class="form-group">
                        <h:outputLabel class="col-md-4 control-label">Contacto</h:outputLabel>
                        <h:panelGroup class="col-md-4 inputGroupContainer">
                            <h:panelGroup class="input-group">
                           <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                           <h:inputText a:placeholder="Telemóvel ou Telefone" value="#{utilizadorController.selected.contacto}" class="form-control" a:type="text">
                            <f:validateLength minimum="9" maximum="12" />
                           </h:inputText>
                            </h:panelGroup>
                        </h:panelGroup>
                    </h:panelGroup>
                    
                     <h:panelGroup class="form-group">
                        <h:outputLabel class="col-md-4 control-label">BI</h:outputLabel>
                        <h:panelGroup class="col-md-4 inputGroupContainer">
                            <h:panelGroup class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                           <h:inputText a:placeholder="BI/CC" value="#{utilizadorController.selected.bi}" class="form-control" a:type="text">
                               <f:validateLength minimum="8" maximum="8" />
                           </h:inputText>
                            </h:panelGroup>
                        </h:panelGroup>
                    </h:panelGroup>
                    
                    
                     <h:panelGroup class="form-group">
                        <h:outputLabel class="col-md-4 control-label">NIF</h:outputLabel>
                        <h:panelGroup class="col-md-4 inputGroupContainer">
                            <h:panelGroup class="input-group">
                           <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                           <h:inputText a:placeholder="Numero Contribuinte" value="#{utilizadorController.selected.nif}" class="form-control" a:type="text">
                               <f:validateLength minimum="9" maximum="9" />
                           </h:inputText>
                            </h:panelGroup>
                        </h:panelGroup>
                    </h:panelGroup>
                    
                    
                      <h:panelGroup class="form-group">
                        <h:outputLabel class="col-md-4 control-label">Data de Nascimento</h:outputLabel>
                        <h:panelGroup class="col-md-4 inputGroupContainer">
                            <h:panelGroup class="input-group">
                           <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                           <h:inputText a:placeholder="dia/Mes/Ano" value="#{utilizadorController.selected.dataNascimento}" class="form-control" a:type="text">
                             <f:convertDateTime pattern="dd/MM/yyyy" />
                           </h:inputText>
                            </h:panelGroup>
                        </h:panelGroup>
                    </h:panelGroup>
                    
                    
                    <h:panelGroup class="form-group">      
                         <label class="col-md-4 control-label"></label>
                        <h:panelGroup class="col-md-4">
                            <h:commandLink action="#{utilizadorController.create}" class="btn btn-warning" value="Enviar" ></h:commandLink>
                           
                        </h:panelGroup>
                    </h:panelGroup>
                    
                   
                    
                    
                </fieldset>
            </h:form>
            
        </ui:define>
        
        <ui:define name="FooterGuest">
            
        </ui:define>
        
        
    </ui:composition>
        
</html>