<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
      
      
    <ui:composition template="/Guest/HomeGuest.xhtml">
        <ui:define name="HeaderGuest">
            
        </ui:define>
        
        <ui:define name="BaseGuest" >
            Alerta ISEC Leilões:  Para aceder a esta página necessita de se<a href="Guest/LoginGuest.xhtml"> autenticar</a> no sistema.
        </ui:define>
    
        <ui:define name="FooterGuest" >
               
        </ui:define>
        
        
    </ui:composition>
      
</html>
